$primaryColor:       #000;
$secondaryColor:     #f5f5f5;
$bg-gray:            #F0F4F8;
$white:              #FFFFFF;
$light-blue:         #E9F8FE;
$titleColor:         #adadad;
$green:              #2A8373;
$yellow:             #FAD841;
$blue:               #10316b;
$gray:               #dee1ec;
$dark-blue:          #0F141E;
$cblue :             #41B883;
$cgrey :             #3E3A37;
$cwhite :            #ffffff;
$ccream :            #FAFBFC;
$cgrey_green:        #435466;
$clightgrey :        #DAD9D7;

$body_height_8: calc((100vh - 113px)/8);
$body_height_4: calc((100vh - 113px)/4);

