@import "../mixins/mixins";

$title:            60px;
$heading_1:        50px;
$jumbo:            48px;
$heading_2:        32px;
$heading_3:        24px;
$heading_4:        20px;
$paragraph:        16px;
$paragraph_small:  14px;
$paragraph_xsmall: 12px;
