<template >
  <button
    :class="{
      cta: type == 'cta',
      contact: type == 'contact',
      form: type == 'form',
      upload: type == 'upload',
      gt: type == 'gt',
    }"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <slot />
  </button>
</template>
<script>
export default {
  props: {
    type: {
      type: String,
    },
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.cta {
  padding: 16px 24px;
  border: 2px solid $primaryColor;
  background: $white;
  color: $primaryColor;
  outline: 0;
  border-radius: $default;
  font-size: $paragraph;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;

  &:hover {
    background: $primaryColor;
    color: $white;
    border: 2px solid transparent;
  }
}

.contact {
  padding: 16px 24px;
  border: 2px solid $primaryColor;
  background: $primaryColor;
  color: $white;
  outline: 0;
  border-radius: $default;
  font-size: $paragraph;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.form {
  padding: 16px 24px;
  background: $primaryColor;
  color: $secondaryColor;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border-radius: $default;

  &:hover {
    opacity: 0.8;
  }
}

.upload {
  padding: 10px 20px;
  background: #dde3da;
  color: $primaryColor;
  border: 0;
  margin-top: $space-s;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border-radius: $default;

  &:hover {
    opacity: 0.8;
  }
}

.gt {
  padding: 16px 24px;
  border: 2px solid $primaryColor;
  background: $green;
  color: $white;
  outline: 0;
  border-radius: $default;
  font-size: $paragraph;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
  }
}
</style>
