<template>
  <section class="contact-section">
    <div data-aos="fade-up" data-aos-offset="200" class="content-holder">
      <h2>Segítségre van szükséged?</h2>
      <p>
        Fordulj hozzánk bátran, amennyiben kérdésed akadt valamivel
        kapcsolatban.
      </p>
      <nuxt-link to="/contact">
        <Button class="head__button" @click="scrollToTop" type="contact"
          >Segítséget kérek</Button
        >
      </nuxt-link>
    </div>
  </section>
</template>
<script>
import Button from "~/components/buttons/Button";

export default {
  components: {
    Button,
  },
  methods: {
    scrollToTop() {
      if (this.$nuxt.$route.name === "contact") {
        window.scroll({
          top: 0,
          left: 0,
          behavior: "smooth",
        });
      }
    },
  },
};
</script>
<style lang="scss">
.contact-section {
  position: relative;
  width: 100%;
  height: 350px;
  background: $bg-gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 $space-m;
  z-index: 500;

  h2 {
    text-align: center;
    margin-bottom: $space-xs;
  }

  p {
    text-align: center;
    margin-bottom: $space-m;
    opacity: 0.6;
  }

  a {
    text-decoration: none;
    outline: none;
  }

  .head__button {
    display: block;
    margin: 0 auto;
  }
}
</style>
