<template>
  <div class="dropdown">
    <div
      class="menu-item"
      :class="{
        'active-menu-item':
          $nuxt.$route.name == 'events' ||
          $nuxt.$route.name == 'gt' ||
          $nuxt.$route.name == 'generator',
      }"
    >
      {{ $props.title }}
      <font-awesome-icon class="icon" :icon="['fas', 'chevron-down']" />
    </div>
    <transition name="fade" appear>
      <div class="sub-menu">
        <div class="sub-element" v-for="(item, i) in $props.items" :key="i">
          <nuxt-link :to="`${item.link}`">
            <div class="sub-link">{{ item.subTitle }}</div>
          </nuxt-link>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Dropdown",
  props: ["link", "title", "items"],
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>

.sub-menu {
  z-index: 1600;
  opacity: 0;
  position: absolute;
  box-shadow: 0px 3px 15px #00000028;
  background: $white;
  width: 200px;
  border-radius: 6px;
  margin-top: -12px;
  transition: .3s;
}

.sub-element {
  text-decoration: none;
  color: $primaryColor;
  cursor: pointer;
}

.sub-link {
  padding: $space-xs $space-s;
  font-size: 14px;
  transition: .3s;

  a {
    text-decoration: none;
    color: $primaryColor;
  }

  &:hover {
    background: #e9e9e9;
    border-radius: 6px;
  }
}

.icon {
  margin-left: $space-xs;
  font-size: $paragraph_xsmall;
}

.dropdown:hover .sub-menu {
  opacity: 1;
}

.dropdown:hover .menu-item {
  border-bottom: 3px solid $primaryColor;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ese-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
