<template>
  <footer>
    <div class="footer-container footer-grid">
      <div class="contact">
        <h6>Elérhetőség</h6>
        <ul>
          <li><div id="simple-icon" class="contactIcon"><font-awesome-icon  :icon="['fa', 'envelope']"/></div><p>info@ptettkhok.hu</p></li>
          <li><div id="simple-icon" class="contactIcon"><font-awesome-icon :icon="['fa', 'phone-alt']"/></div><p>+36 72 503 600 (24141-es mellék)</p></li>
          <li><div id="simple-icon" class="contactIcon"><font-awesome-icon :icon="['fa', 'location-arrow']"/></div><p>Pécs, Ifjúság útja 6.</p></li>
        </ul>
      </div>

      <div class="featured">
        <h6>Népszerű</h6>
        <ul>
          <nuxt-link to="/calculator"><li><p>Átlag kalkulátor</p></li></nuxt-link>
          <nuxt-link to="/services"><li><p>Szolgáltatások</p></li></nuxt-link>
          <nuxt-link to="/gt"><li><p>Gólyatábor</p></li></nuxt-link>
          <nuxt-link to="/services"><li><p>Szolgáltatások</p></li></nuxt-link>
          <nuxt-link to="/about"><li><p>Rólunk</p></li></nuxt-link>
        </ul>
      </div>

      <div class="social-media">
        <h6>Közösségi Média</h6>
        <div class="iconHolder">
          <a href="https://www.instagram.com/ptettkhok" target="_blank"><div class="contactIcon"><font-awesome-icon class="icon" :icon="['fab', 'instagram']"/></div></a>
          <a href="https://www.facebook.com/PTETTKHOK/" target="_blank"><div class="contactIcon"><font-awesome-icon class="icon" :icon="['fab', 'facebook-f']"/></div></a>
          <a href="https://www.youtube.com/channel/UCxmGwIv9AHv3Rth82iPnr_Q" target="_blank"><div class="contactIcon"><font-awesome-icon class="icon" :icon="['fab', 'youtube']"/></div></a>
        </div>
      </div>
    </div>

    <div class="topper"></div>

    <img src="@/assets/images/ptettk.jpg" alt="">
  </footer>

</template>
<script>
export default {

}
</script>
<style lang="scss" scoped>

footer {
  position: relative;
  height: auto;
  width: 100%;
  background-position: center;
  color: $secondaryColor;
  padding: $space-xl 0;
  z-index: 500;

  img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.footer-grid {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  max-width: 1200px;

  @media screen and (max-width: 992px){
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 600px){
    grid-template-columns: 1fr;
    justify-items: left;
    grid-gap: $space-l;
    padding-left: $space-m;
  }
}

.footer-container {
  font-size: $paragraph_small;
}

.contact, .featured, .social-media {
  min-width: 216px;
  z-index: 3;

  ul {
    list-style: none;
    font-size: $paragraph_small;
  }

  li {
    padding: $space-xxs 0;
    display: flex;
    align-items: center;
  }

  h6 {
    margin-bottom: $space-s;
    text-transform: uppercase;
    font-weight: bold;
  }

  p {
    height: auto;
    color: $secondaryColor;
    cursor: pointer;
    margin-right: $space-s;
    font-size: $paragraph_small;

    &:after {
      display      : block;
      content      : '';
      border-bottom: solid 2px $secondaryColor;
      transform    : scaleX(0);
      transition   : transform 200ms ease-in-out;
      transform-origin: 0 50%;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }

}

a {
  text-decoration: none;
}

.contactIcon {
  width: 40px;
  height: 40px;
  border-radius: $round;
  background-color: $secondaryColor;
  color: $primaryColor;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-around;
  cursor: pointer;
  margin-right: $space-s;

  &:hover {
    background: $primaryColor;
    transition: .2s;
    color: $white;
  }

  .icon {
    font-size: $heading_4;
  }

  p {
    color: $white;
  }
}

#simple-icon {
  &:hover {
    background: $white;
    color: $primaryColor;
    cursor: default;
  }
}

.iconHolder {
  display: flex;
  margin-bottom: $space-l;
}

.topper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $primaryColor;
  opacity: 0.92;
  z-index: 2;
}

.featured {
  li {
    cursor: pointer;
  }
}

</style>
