<template>
  <header>
    <div class="wrap">
      <nuxt-link to="/">
        <img class="mobil-logo" v-if="opened" src="~/assets/images/logo.png" alt />
      </nuxt-link>

      <div id="hamburger" v-on:click="display_menu()">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav id="menu">
        <li @click="close_menu()"><nuxt-link to="/">Kezdőlap</nuxt-link></li>
        <li @click="close_menu()"><nuxt-link to="/about">Rólunk</nuxt-link></li>
        <li @click="close_menu()">
          <nuxt-link to="/services">Szolgáltatások</nuxt-link>
        </li>
        <li @click="close_menu()">
          <nuxt-link to="/calculator">Átlag kalkulátor</nuxt-link>
        </li>
        <li class="drop">
          <a class="drop-title" @click="display_drop_menu($event)">
            Rendezvények
          </a>
          <i @click="display_drop_menu($event)" class="icon-arrow"></i>
          <ul @click="close_menu()" class="drop_menu">
            <nuxt-link to="/events">Áttekintés</nuxt-link>
            <nuxt-link to="/gt">Gólyatábor</nuxt-link>
            <!-- <nuxt-link to="/generator">Pass generátor</nuxt-link> -->
          </ul>
        </li>
        <li @click="close_menu()">
          <nuxt-link to="/contact">Kapcsolat</nuxt-link>
        </li>
        <li id="img-holder">
          <img class="logo" src="~/assets/images/logo.png" alt="" />
        </li>
      </nav>
    </div>
  </header>
</template>
<script>
export default {
  data() {
    return {
      opened: true,
    };
  },
  methods: {
		display_menu : function(){
			var body = document.getElementsByTagName("body")[0];
			(!body.classList.contains("display_menu")) ? body.classList.add("display_menu") : body.classList.remove("display_menu");
			this.opened = !this.opened;
		},
		close_menu : function() {
			var body = document.getElementsByTagName("body")[0];
			body.classList.remove("display_menu");
			this.opened = !this.opened;
		},

		display_drop_menu : function(event){
			var drop_menu = event.target.parentElement.getElementsByClassName("drop_menu")[0];
			var drop_menus = document.getElementsByClassName("drop_menu");

			Array.from(drop_menus).forEach(function(e){
				if(e != drop_menu){
					e.classList.remove("display");
				}
			});
			var lis = document.getElementById("menu").getElementsByTagName("li");
			Array.from(lis).forEach(function(e){
				e.style.marginTop = 0;
			});

			(!drop_menu.classList.contains("display")) ? drop_menu.classList.add("display") : drop_menu.classList.remove("display");
			if(window.innerWidth < 992 && drop_menu.classList.contains("display")) {
				event.target.parentElement.nextSibling.nextSibling.style.marginTop = drop_menu.clientHeight + "px";
			}
    },
  }
};
</script>
<style lang="scss">

/* ==== DEFAULTS ==== */
$default_height: 60px;

.icon-arrow {
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 284.929 284.929'><path d='M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441		L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z'/></svg>");
}

i {
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

/* ==== HEADER ==== */
header {
  display: flex;
  position: fixed;
  z-index: 900;
  width: 100%;
  background: $white;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 0, 0);
  transition: 0.2s all ease-out;
}

header .drop_menu.display {
  transform: scaleY(1);

  a {
    opacity: 1;
  }
}

header #hamburger {
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 3%;
  top: 30px;
  display: none;
  transform: translateY(-50%);
}

header #hamburger span {
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: $primaryColor;
  display: block;
  transition: 0.33s;

  &:nth-child(1) {
    width: 12px;
  }

  &:nth-child(2) {
    width: 24px;
  }

  &:nth-child(3) {
    width: 12px;
  }
}

.display_menu header #hamburger {
  span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 1px);
  }
  span:nth-child(2) {
    transform: rotate(-45deg);
  }
  span:nth-child(3) {
    transform: rotate(45deg) translate(6px, -9px);
  }
}

header .wrap {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

header .mobil-logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  top: -5px;
  left: -5px;
}

header #img-holder {
  height: 100px !important;
}

header .logo {
  width: 120px;
  height: auto;
  display: block;
  margin-top: 60px;
  padding-left: 20px;
}

header #hamburger {
  display: block;
}

header #menu {
  width: 100%;
  display: none;
  height: 0;
  transform-origin: 50% 0;
  transition: 0.33s ease;
  flex-direction: column;
}

.display_menu header #menu {
  height: 100vh;
  display: block;

  li {
    height: $default_height;
    transition: 0.25s ease;
    opacity: 1;
    display: block;
  }
}

header #menu li {
  position: relative;
  user-select: none;
  height: 0;
  opacity: 0;
  margin-left: 0;
  transition: 0.25s ease;

  a {
    text-align: left;
    right: 0;
    line-height: $default_height;
    padding-left: 20px;
    border: none;
    height: 100%;
    width: 100%;
    display: block;
    background: none;
    transition: 0.15s;

    &:hover {
      color: $primaryColor;
      background-color: #e9e9e9;
    }
  }

  i {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primaryColor;
  }
}

header .drop {
  cursor: pointer;

  &:hover {
    .drop-title {
      background-color: $white !important;
      color: $primaryColor !important;
    }

    .icon-arrow {
      background-color: $white;
    }
  }
}

header .drop_menu {
  position: absolute;
  display: block;
  transform: scaleY(0);
  transform-origin: top;
  top: $default_height;
  box-shadow: none;
  left: 0;
  padding-bottom: 0;
  width: 100%;
  background-color: $white;
  transition: 0.25s;

  a {
    display: block;
    transition: 0.45s;
    opacity: 0;
    width: 100%;
    padding: 0 !important;
    padding-left: 40px !important;
    margin: 0;

    &:hover {
      background-color: $primaryColor;
      color: $white;
    }
  }
}

@media screen and (max-width: 1024px) {
  header .nuxt-link-exact-active {
    background-color: #e9e9e9 !important;
    color: $primaryColor !important;
  }
}
</style>
