<template>
  <header>
    <div class="header-container">
      <nuxt-link to="/">
        <img src="~/assets/images/logo.png" alt />
      </nuxt-link>

      <nav>
        <nuxt-link
          class="menu-item"
          :class="{ 'active-menu-item': $nuxt.$route.name == 'index' }"
          to="/"
        >
          <div>Kezdőlap</div>
        </nuxt-link>
        <nuxt-link
          class="menu-item"
          :class="{ 'active-menu-item': $nuxt.$route.name == 'about' }"
          :to="localePath('about')"
        >
          <div>Rólunk</div>
        </nuxt-link>
        <nuxt-link
          class="menu-item"
          :class="{ 'active-menu-item': $nuxt.$route.name == 'services' }"
          to="/services"
        >
          <div>Szolgáltatások</div>
        </nuxt-link>
        <nuxt-link
          class="menu-item"
          :class="{ 'active-menu-item': $nuxt.$route.name == 'calculator' }"
          to="/calculator"
        >
          <div>Átlag kalkulátor</div>
        </nuxt-link>

        <Dropdown title="Rendezvények" link="events" :items="events"></Dropdown>

        <nuxt-link
          class="menu-item"
          :class="{ 'active-menu-item': $nuxt.$route.name == 'contact' }"
          to="/contact"
        >
          <div>Kapcsolat</div>
        </nuxt-link>
      </nav>
    </div>
  </header>
</template>
<script>
export default {
  data() {
    return {
      events: [
        { subTitle: "Áttekintés", link: "/events" },
        { subTitle: "Gólyatábor", link: "/gt" },
        // { subTitle: 'Pass Generátor', link: '/generator'},
      ],

      documents: [
        { subTitle: "Szakmai Gyakorlat", link: "/internship" },
        { subTitle: "Átlag Kalkulátor", link: "/averageCalculator" },
      ],
    };
  },
};
</script>
<style lang="scss">
header {
  width: 100%;
  position: fixed;
  box-shadow: 0 2px 15px rgba(71, 120, 120, 0.5);
  transform: translate3d(0, 0, 0);
  transition: 0.2s all ease-out;
  z-index: 500;

  img {
    width: 70px;
    height: 70px;
    margin-right: $space-m;
  }
}

.header-container {
  width: 100%;
  padding: 0 $space-l;
  max-width: 1166px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 80px;
  display: flex;

  a {
    text-decoration: none;
    color: $primaryColor;
  }
}

.menu-item {
  margin: 0 $space-xs;
  padding: $space-m $space-xxs;
  display: inline-block;
  cursor: pointer;
  font-size: $paragraph_small !important;
  text-decoration: none;
  font-size: $paragraph_small;

  &:hover {
    border-bottom: 3px solid $primaryColor;
  }
}

.active-menu-item {
  border-bottom: 3px solid $primaryColor;
}
</style>
