<template>
  <div class="profil-container">
    <div class="profil-container__img-holder">
      <nuxt-link :to="`/about/${$props.slug}`">
        <img
          :src="require(`../assets/images/profile-pictures/${$props.img}`)"
          alt
        />
      </nuxt-link>
    </div>

    <div class="data-holder">
      <p class="position">{{ $props.position }}</p>
      <nuxt-link :to="`/about/${$props.slug}`">
        <h3>{{ $props.name }}</h3>
      </nuxt-link>
      <p class="text">{{ $props.text }}</p>
      <div class="profil-footer">
        <nuxt-link :to="`/about/${$props.slug}`">
          <p>Profil megtekintése</p>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["img", "position", "name", "text", "slug"],
};
</script>

<style lang="scss">
.profil-container {
  position: relative;
  display: flex;
  flex-flow: column;

  &__img-holder {
    box-shadow: 8px 20px 22px #00000025;
    transition: all 0.2s;
    border-radius: $default;
    height: 333px;

    &:hover {
      box-shadow: none;
    }
  }

  img {
    display: block;
    border-radius: $default;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-orientation: center;
  }
}

.data-holder {
  .position {
    margin-top: $space-m;
    margin-bottom: $space-xxs;
    color: $primaryColor;
    opacity: 0.6;
    text-transform: uppercase;
  }

  h3 {
    margin-bottom: $space-m;
  }

  .text {
    font-family: "MontserratRegular";
    font-size: $paragraph;
    color: $primaryColor;
    opacity: 0.6;
    margin-bottom: $space-s;
    line-height: 1.6;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .profil-footer {
    display: flex;

    p {
      font-family: "MontserratBold";
      height: auto;
      cursor: pointer;

      &:after {
        display: block;
        content: "";
        border-bottom: solid 3px $primaryColor;
        transform: scaleX(0);
        transition: transform 200ms ease-in-out;
        padding-bottom: $space-xxs;
      }
      &:hover:after {
        transform: scaleX(1);
      }
    }
  }

  a {
    text-decoration: none;
    color: $primaryColor;
  }
}

</style>
