
// IMPORT FONT FACES
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
   url(~static/fonts/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "MontserratExtraBold";
  src: local("Montserrat"),
   url(~static/fonts/Montserrat-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "MontserratBold";
  src: local("Montserrat"),
   url(~static/fonts/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "MontserratRegular";
  src: local("Montserrat"),
   url(~static/fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "MontserratThin";
  src: local("Montserrat"),
   url(~static/fonts/Montserrat-Thin.ttf) format("truetype");
}

// RESPONSIVE FONTS
h1 {
  @include responsive-font(8vw, 30px, $jumbo, $jumbo);
  font-family: "MontserratBold";
}

h2 {
  @include responsive-font(5vw, 20px, $heading_2, $heading_2);
  font-family: "MontserratBold";
}

h3 {
  @include responsive-font(5vw, 20px, $heading_3, $heading_3);
  font-family: "MontserratBold";
}

h4 {
  @include responsive-font(3vw, 14px, $paragraph, $paragraph);
  font-family: "MontserratRegular";
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: $space-xxs;
  font-weight: 400;
}

h6 {
  @include responsive-font(2vw, 16px, $paragraph, $paragraph);
  font-family: "Montserrat";
}

.title-text {
  @include responsive-font(3vw, 16px, $paragraph, $paragraph);
  font-family: "MontserratRegular";
}

// DEFAULT STYLES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

h1,h2,p{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon-margin-right {
  margin-right: 12px;
}

.topper {
  @include topper();
}

