<template>
    <div>
        <NavBar class="desktop-navbar" :class="{ 'hidden-navbar': !showNavbar }" />
        <MobilNavBar class="mobil-navbar" />
        <Nuxt />
        <Footer />
    </div>
</template>

<script>
import NavBar from "~/components/NavBar";
import MobilNavbar from "~/components/MobilNavBar";
import Footer from "~/components/Footer";
import ContactSection from "~/components/ContactSection";

/* ==== HIDE AFTER SCROLLING PIXEL ==== */

const OFFSET = 60;
export default {
    data() {
    return {
      showNavbar: true,
      lastScrollPosition: 0,
      scrollValue: 0
    };
  },
  mounted() {
    this.lastScrollPosition = window.pageYOffset;
    window.addEventListener("scroll", this.onScroll);
    const viewportMeta = document.createElement("meta");
    viewportMeta.name = "viewport";
    viewportMeta.content = "width=device-width, initial-scale=1";
    document.head.appendChild(viewportMeta);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },

  methods: {
    onScroll() {
      if (window.pageYOffset < 0) {
        return;
      }
      if (Math.abs(window.pageYOffset - this.lastScrollPosition) < OFFSET) {
        return;
      }
      this.showNavbar = window.pageYOffset < this.lastScrollPosition;
      this.lastScrollPosition = window.pageYOffset;
    }
  }
}
</script>

<style>
html,
body {
  overflow-x: hidden;
}
a {
  outline: none;
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */

/* ==== MOBIL ACTIVE ==== */

@media screen and (max-width: 1024px) {
  .mobil-navbar {
    display: inline;
  }
  .desktop-navbar {
    display: none;
  }
  .mobil-navbar.hidden-navbar {
    box-shadow: none;
    transform: translate3d(0, -100%, 0);
  }
}

/* ==== DESKTOP ACTIVE ==== */

@media screen and (min-width: 1024px) {
  .mobil-navbar {
    display: none;
  }
  .desktop-navbar {
    display: inline;
    display: flex;
  }
  .desktop-navbar.hidden-navbar {
    box-shadow: none;
    transform: translate3d(0, -100%, 0);
  }
}
</style>