<template>
  <div>
    <h1>Error page</h1>
  </div>
</template>

<script>

export default {
  
}
</script>
<style lang="scss">
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>