<template>
  <main>

    <!--===== BREADCRUMBS =====-->
    <section class="breadcrumbs">
      <div class="breadcrumbs__container bg-grid" @click="$router.go(-1)">
        <p class="breadcrumbs__back">Rólunk</p>
        <font-awesome-icon :icon="['fas', 'chevron-right']" />
        <p class="breadcrumbs__name">{{ profile.name }}</p>
      </div>
      <div class="breadcrumbs__container-mobil bg-grid" @click="$router.go(-1)">
        <font-awesome-icon :icon="['fas', 'chevron-left']" />
        <p class="breadcrumbs__back-mobil">Rólunk</p>
      </div>
    </section>

    <!--===== HEAD =====-->
    <section class="head">
      <img
        class="head__bg"
        src="~/assets/svg/SVG6.svg"
        data-aos-delay="400"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        alt
      />
      <div class="head__container bg-grid">

        <!--===== PROFIL CONTAINER =====-->
        <div id="profil-container" class="head__profil-container">

          <!--===== PICTURE HOLDER =====-->
          <div
            data-aos="fade-up"
            data-aos-delay="200"
            class="head__picture-holder"
          >
            <img
              id="profil-img"
              :src="require(`@/assets/images/profile-pictures/${profile.img}`)"
              alt
            />
          </div>

          <!--===== CONTACT HOLDER =====-->
          <div class="head__contact-holder">
            <div class="contact-element" v-if="profile.email">
              <div id="simple-icon" class="head__social-icon">
                <font-awesome-icon :icon="['fa', 'envelope']" />
              </div>
              <p class="head__social-text">{{ profile.email }}</p>
            </div>
            <div class="contact-element" v-if="profile.mobil">
              <div id="simple-icon" class="head__social-icon">
                <font-awesome-icon :icon="['fa', 'phone-alt']" />
              </div>
              <p class="head__social-text">{{ profile.mobil }}</p>
            </div>
          </div>

          <!--===== NAME HOLDER =====-->
          <div
            data-aos="fade-up"
            data-aos-delay="300"
            data-aos-offset="0"
            class="head__name-holder"
          >
            <p class="head__title">{{ profile.position }}</p>
            <h2 class="head__name">{{ profile.name }}</h2>
            <div class="head__social-holder">
              <a :href="`${profile.instagram}`" target="_blank">
                <div v-if="profile.instagram" class="head__social-icon">
                  <font-awesome-icon :icon="['fab', 'instagram']" />
                </div>
              </a>
              <a :href="`${profile.facebook}`" target="_blank">
                <div v-if="profile.facebook" class="head__social-icon">
                  <font-awesome-icon :icon="['fab', 'facebook-f']" />
                </div>
              </a>
              <a :href="`${profile.youtube}`" target="_blank">
                <div v-if="profile.youtube" class="head__social-icon">
                  <font-awesome-icon :icon="['fab', 'youtube']" />
                </div>
              </a>
            </div>
          </div>

          <!--===== CONTENT HOLDER =====-->
          <div class="head__content-holder">
            <p class="head__content-text">{{ profile.toc[0].text }}</p>
            <a href="http://m.me/PTETTKHOK?ref=150123858380403" target="_blank">
              <Button class="head__button" type="cta">Üzenetet küldök</Button>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import Button from "~/components/buttons/Button";
export default {
  created() {
    console.log(this.$route.name);
  },
  async asyncData({ $content, params }) {
    const profile = await $content("profiles", params.slug).fetch();
    return {
      profile,
    };
  },
  components: {
    Button,
  },
};
</script>
<style lang="scss" scoped>

/* ==== DEFAULT GRID ==== */
.bg-grid {
  max-width: 1166px;
  display: grid;
  width: calc(100% - 4rem);
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0 15px;
  }

  @media screen and (max-width: 600px) {
    padding: 0;
  }
}

/* ==== BREADCRUMS ==== */
.breadcrumbs {
  background: $bg-gray;
  cursor: pointer;
  z-index: 1500;

  @media screen and (min-width: 992px) {
    padding-top: 80px;

    &__container-mobil {
      display: none;
    }

    &__container {
      height: 56px;
      max-width: 1166px;
      display: flex;
      align-items: center;
    }

    &__back {
      height: auto;
      cursor: pointer;
      margin-right: $space-s;
      font-size: $paragraph_small;

      &:after {
        display: block;
        content: "";
        border-bottom: solid 2px $primaryColor;
        transform: scaleX(0);
        transition: transform 200ms ease-in-out;
        transform-origin: 0 50%;
      }

      &:hover:after {
        transform: scaleX(1);
      }
    }

    &__name {
      margin-left: $space-s;
      font-weight: bold;
      font-size: $paragraph_small;
    }
  }

  @media screen and (max-width: 992px) {
    padding-top: 60px;

    &__container {
      display: none;
    }

    &__container-mobil {
      height: 80px;
      max-width: 1166px;
      display: flex;
      align-items: center;
      margin-left: $space-m;
    }

    &__back-mobil {
      margin-left: $space-s;
    }
  }
}

.head {
  position: relative;
  background: $bg-gray;
  padding-bottom: 150px;

  @media screen and (max-width: 600px) {
    padding-bottom: 0;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: auto;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__container {
    min-height: 555px;
  }

  /*===== PROFIL CONTAINER =====*/
  &__profil-container {
    position: relative;
    top: $space-l;
    max-width: 1166px;
    box-shadow: 10px 43px 68px #00000012;
    background: $white;
    border-radius: $default;
    padding: $space-xl;
    border-radius: $default;

    /*===== GRID =====*/
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    column-gap: $space-l;
    row-gap: $space-l;
    grid-template-areas:
      "picture-holder name-holder"
      "contact-holder content-holder";

    /*===== MEDIA QUERY 992px=====*/
    @media screen and (max-width: 992px) {
      height: auto;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "picture-holder name-holder"
        "content-holder content-holder"
        "contact-holder contact-holder";

      .head__picture-holder {
        img {
          width: 100%;
        }
      }
    }

    /*===== MEDIA QUERY 600px=====*/
    @media screen and (max-width: 600px) {
      top: 0;
      border-radius: 0;
      width: auto;
      height: auto;
      padding: 50px $space-m 100px $space-m;
      grid-template-columns: auto;
      grid-template-rows: auto;
      row-gap: $space-m;
      grid-template-areas:
        "picture-holder"
        "name-holder"
        "content-holder"
        "contact-holder";

      .head__content-holder {
        margin: 0;
      }
    }
  }

  /*===== PICTURE HOLDER =====*/
  &__picture-holder {
    grid-area: picture-holder;

    img {
      display: block;
      width: 100%;
      border-radius: $default;
      box-shadow: 5px 20px 40px #00000025;
    }
  }

  /*===== CONTACT HOLDER =====*/
  &__contact-holder {
    grid-area: contact-holder;
    display: flex;
    flex-flow: column;

    .contact-element {
      display: flex;
      flex-flow: row;
      align-items: center;
      margin-bottom: $space-s;
    }
  }

  /*===== NAME HOLDER =====*/
  &__name-holder {
    grid-area: name-holder;
  }

  &__title {
    text-transform: uppercase;
    color: $primaryColor;
    opacity: 0.6;
    margin-bottom: $space-xxs;
  }

  /*===== CONTENT HOLDER =====*/
  &__content-holder {
    grid-area: content-holder;
  }

  &__button {
    margin-top: $space-m;
  }

  &__content-text {
    line-height: 1.6;
    opacity: 0.8;
  }

  /*===== SOCIAL HOLDER =====*/
  &__social-holder {
    margin-top: $space-s;
    display: flex;
  }

  &__social-icon {
    width: 51px;
    height: 51px;
    border-radius: $round;
    background-color: $white;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-around;
    cursor: pointer;
    margin-right: $space-s;
    box-shadow: 0px 3px 6px #00000029;
    font-size: $heading_4;

    &:hover {
      background: $primaryColor;
      color: $white;
      transition: 0.4s;

      a {
        color: $white;
      }
    }
  }

  a {
    text-decoration: none;
    color: $primaryColor;
  }

  #simple-icon {
    &:hover {
      background: $white;
      color: $primaryColor;
      cursor: default;
    }
  }
}
</style>
