<template>
  <main>
    <!--===== ABOUT HEAD =====-->
    <section class="head">
      <div id="darker"></div>
      <img src="~/assets/images/our_team-min.jpg" />
      <div class="head__container bg-grid">
        <div class="head__mask"></div>
      </div>
    </section>

    <!--===== TEXT ABOUT =====-->
    <section id="about-text" class="text">
      <img
        class="text__bg"
        src="~/assets/svg/SVG2.svg"
        data-aos-delay="400"
        data-aos="fade"
        data-aos-easing="linear"
        data-aos-duration="1500"
        alt
      />

      <div
        data-aos="fade-up"
        data-aos-delay="400"
        class="text__container bg-grid"
      >
        <h2 class="text__title">Kik vagyunk Mi?</h2>
        <h4 class="text__content">
          A Természettudományi Kar hallgatói Önkormányzata egy alulról
          szerveződő, elsősorban a hallgatói érdekképviselet ellátásával
          foglalkozó testület. Önkormányzatunk tagjait karunk hallgatói
          választják, a választásokat illetően valamennyi diákunk választó és
          egyben választható. Megválasztott tagjaink a Kar és az Egyetem minden
          olyan döntéshozatali fórumán képviseltetik magukat, melyeken hallgatói
          érdekek kerülnek terítékre, legyen szó akár vizsgáztatásról,
          ösztöndíjakról vagy éppen kollégiumi elhelyezésről.
          <br />
          <br />Forduljatok hozzánk bizalommal, észrevételeitekhez,
          problémáitokhoz mindig nyitottan és megoldásorientáltan állunk.
          Hallgatóink mindenkori jól informáltságát, fórumok és podcastek
          rendszeres szervezésével, valamint minden munkanapra kiterjedő
          személyes elérhetőséggel kívánjuk elősegíteni.
          <br />
          <br />Küldetésünk mindezen túl a hallgatói élet és az egyetemi évek
          felejthetetlenné tétele. Ennek érdekében a szorgalmi időszak minden
          hetében színes kulturális programokkal készülünk számotokra, legyen
          szó az elsőéveseknek szervezett gólyatáborról és gólyabálról, vagy
          éppen a felejthetetlen TTKeddekről, külföldi kirándulásokról,
          szakhetekről és a sor még hosszan folytatható lenne.
        </h4>
      </div>
    </section>

    <!--===== PROFILE CARDS =====-->
    <section class="profile-cards">
      <img
        class="profile-cards__bg"
        src="~/assets/svg/SVG2.svg"
        data-aos-delay="400"
        data-aos="fade"
        data-aos-easing="linear"
        data-aos-duration="1500"
        alt
      />
      <div
        data-aos="fade-up"
        data-aos-offset="200"
        class="text__container bg-grid"
      >
        <h2 class="text__title">A vezetőség tagjai</h2>
        <h4 class="text__content">
          A HÖK elnöksége látja el a Hallgatói Önkormányzat működési és vezetési
          feladatait. Állandó tagjai vagyunk az egyetem különböző fórumainak,
          ahol aktívan képviseljük hallgatói érdekeiteket.
        </h4>
      </div>
      <div
        data-aos="fade-up"
        data-aos-offset="200"
        class="profile-cards__container bg-grid"
      >
        <ProfileCard
          v-for="(profile, index) in managementProfiles"
          :key="index"
          :img="profile.img"
          :position="profile.position"
          :name="profile.name"
          :text="profile.toc[0].text"
          :slug="profile.slug"
        ></ProfileCard>
      </div>
    </section>

    <!--===== TEXT =====-->
    <section class="text">
      <img class="profile-cards__bg" src="~/assets/svg/SVG2.svg" alt />
      <div
        data-aos="fade-up"
        data-aos-offset="200"
        class="text__container bg-grid"
      >
        <h2 class="text__title">A Hallgatói képviselők</h2>
        <h4 class="text__content">
          Fő feladatunk, a hallgatók képviselete a különböző fórumokon, kari
          bizottsági üléseken, mint például az Intézeti Tanácsokon, a Kari
          Tanácsban, valamint a HÖK küldöttgyűlésein. Mi vagyunk azok, akikhez
          bátran fordulhattok, ha bármilyen problémátok van. A Mi feladatukhoz
          tartozik, hogy a szakokhoz eljussanak a HÖK által elindított
          kezdeményezések, programok, rendezvények.
        </h4>
      </div>
    </section>

    <!--===== PROFILE CARDS2 =====-->
    <section class="profile-cards">
      <img class="profile-cards__bg" src="~/assets/svg/SVG2.svg" alt />
      <div
        data-aos="fade-up"
        data-aos-offset="200"
        class="profile-cards__container bg-grid"
      >
        <ProfileCard
          v-for="(profile, index) in delegateProfiles"
          :key="index"
          :img="profile.img"
          :position="profile.position"
          :name="profile.name"
          :text="profile.toc[0].text"
          :slug="profile.slug"
        ></ProfileCard>
      </div>
    </section>
  </main>
</template>

<script>
import ProfileCard from "~/components/ProfileCard";
export default {
  async asyncData({ $content, params }) {
    const managementProfiles = await $content("profiles")
      .sortBy("index")
      .where({ management: "yes" })
      .fetch();

    const delegateProfiles = await $content("profiles")
      .sortBy("index")
      .where({ management: "no" })
      .fetch();

    return {
      managementProfiles,
      delegateProfiles,
    };
  },
  data() {
    return {};
  },
  components: {
    ProfileCard,
  },
};
</script>

<style lang="scss" scoped>

// GRID
.bg-grid {
  max-width: 1364px;
  display: grid;
  width: calc(100% - 4rem);
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0 15px;
  }
}

/* ==== PAGE HEAD ==== */
.head {
  position: relative;

  #darker {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    z-index: 2;
    border-radius: $default;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    object-position: 25% 20%;
  }

  &__container {
    padding-top: 80px;
    height: 600px;

    @media screen and (max-width: 992px) {
      height: 400px;
    }

    @media screen and (max-width: 768px) {
      height: 350px;
    }

    @media screen and (max-width: 580px) {
      height: 300px;
    }
  }

  &__title {
    text-align: center;
    align-self: flex-end;
    color: $secondaryColor;
    text-transform: uppercase;
    z-index: 4;
    margin-top: $space-l;
  }

  &__mask {
    height: 110px;
    background: $white;
    align-self: flex-end;
    border-radius: $default $default 0 0;
    z-index: 2;

    @media screen and (max-width: 768px) {
      height: 55px;
    }
  }
}

/* ==== PROFILE CARDS ==== */
.profile-cards {
  position: relative;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__container {
    max-width: 1364px;
    margin: 80px auto;
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: $space-xl;
    grid-column-gap: $space-xl;
    justify-content: center;

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 50px;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 $space-m;

      img {
        height: 200px;
      }
    }
  }
}

/* ==== TEXT1 ==== */
.text {
  &__container {
    max-width: 1364px;
    margin: 0 auto;
    padding: 0 100px;

    @media screen and (max-width: 992px) {
      padding: 0 50px;
    }

    @media screen and (max-width: 600px) {
      padding: 0 $space-m;
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: auto;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: $space-m;
  }

  &__content {
    opacity: 0.6;
    line-height: 1.6;
    font-weight: 400;
  }
}

#about-text {
  margin-bottom: $space-xxl;

  @media screen and (max-width: 600px) {
    margin-bottom: $space-xl;
  }
}
</style>
