<template>
  <main>

    <!--===== HEADER =====-->
    <section class="head" >
      <img class="bg-svg" src="~/assets/svg/SVG6.svg" data-aos-delay="400" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" rel="preload" alt="">
      <div class="head__container head-grid">
        <div class="head__left" data-aos="fade-up" data-aos-delay="300">
          <h4 class="head__sub-title">Átlag kalkulátor</h4>
          <h1 class="head__title">Számold ki könnyedén az átlagodat</h1>
          <p class="head__text">Tervezz előre a tanulmányi eredményeidet illetően és tűzz ki célokat a félévre!</p>
        </div>
      </div>
    </section>

    <!--===== CALCULATOR =====-->
    <section class="calculator">
      <img class="calculator__bg" data-aos-delay="400" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" src="~/assets/svg/SVG6.svg" alt="">
      <div data-aos="fade-up" data-aos-delay="300" class="calculator__container calculator-grid">
        <div class="counter">
          <h2 class="counter__title">Átlag kalkulátor</h2>

          <!-- DESKTOP SUBJECT HOLDER -->
          <div class="counter__subject-holder">
            <table>
              <thead>
                <th>Tantárgy neve</th>
                <th>Kredit érték</th>
                <th>Érdemjegy</th>
                <th>Hozzáadás</th>
              </thead>
              <tbody>
                <tr v-for="(subject, index) in subjects" :key="`subject-${index}`">
                  <td><input class="counter__subject-input" v-model="subject.name" type="text"></td>
                  <td id="numInput"> <NumInput :min="1" :max="100" :step="1" :integerOnly="true" v-model="subject.credit"/></td>
                  <td id="numInput"><NumInput :min="1" :max="5" :step="1" :integerOnly="true" v-model="subject.note"/></td>
                  <td id="btn"><button class="counter__del-button" @click="deleteSubject(index)"><font-awesome-icon  :icon="['fa', 'trash-alt']"/></button></td>
                </tr>

                <!-- DESKTOP ADD -->
                <tr >
                  <td><input class="counter__new-subject-input" v-model="newName" type="text" placeholder="Tantárgy neve"></td>
                  <td id="numInput"><NumInput v-model="newCredit" :min="1" :max="100" :integerOnly="true" :step="1"  /></td>
                  <td id="numInput"><NumInput v-model="newNote" :min="1" :max="5" :integerOnly="true" :step="1"  /></td>
                  <td id="btn"><button class="counter__add-button" @click="addSubject()"><font-awesome-icon  :icon="['fa', 'plus']"/></button></td>
                </tr>
              </tbody>
            </table>

            <div class="counter__footer">
              <Button class="head__button" type="form" @click="calculate()">Számolás</Button>
              <p>{{ subjects.length }} tárgy hozzáadva</p>
            </div>
          </div>

          <!-- MOBIL SUBJECT HOLDER -->
          <div class="counter__mobil-subject-holder">
            <ul>
              <li v-for="(subject, index) in subjects" :key="subject.name">
                <div class="counter__mobil-top-holder">
                  <div class="counter__mobil-input-holder">
                    <label for="sub-input">Tantárgy neve</label>
                    <input :id="`sub-input ${index}` " class="counter__subject-input" v-model="subject.name" type="text">
                  </div>
                  <div id="btn"><button class="counter__del-button" @click="deleteSubject(index)"><font-awesome-icon  :icon="['fa', 'trash-alt']"/></button></div>
                </div>
                <div class="counter__mobil-bottom-holder">
                  <div>
                    <label for="sub-input">Kredit érték</label>
                    <td id="numInput"> <NumInput :min="1" :max="100" :step="1" :integerOnly="true" v-model="subject.credit"/></td>
                  </div>
                  <div>
                    <label for="sub-input">Érdemjegy</label>
                    <td id="numInput"><NumInput :min="1" :max="5" :step="1" :integerOnly="true" v-model="subject.note"/></td>
                  </div>
                </div>
                <hr class="resoult-hr"></hr>
              </li>

              <!-- MOBIL ADD -->
              <li>
                <div class="counter__mobil-top-holder">
                  <div class="counter__mobil-input-holder">
                    <label for="sub-input">Tantárgy neve</label>
                    <input id="sub-input" class="counter__subject-input" v-model="newName" type="text">
                  </div>
                  <div id="btn"><button class="counter__add-button" @click="addSubject()"><font-awesome-icon  :icon="['fa', 'plus']"/></button></div>
                </div>
                <div class="counter__mobil-bottom-holder">
                  <div>
                    <label for="sub-input">Kredit érték</label>
                    <td id="numInput"> <NumInput :min="1" :max="100" :step="1" :integerOnly="true" v-model="newCredit"/></td>
                  </div>
                  <div>
                    <label for="sub-input">Érdemjegy</label>
                    <td id="numInput"><NumInput :min="1" :max="5" :step="1" :integerOnly="true" v-model="newNote"/></td>
                  </div>
                </div>
              </li>
            </ul>
            <div class="counter__footer">
              <Button class="head__button" type="form" @click="calculate()">Számolás</Button>
              <p>{{ subjects.length }} tárgy hozzáadva</p>
            </div>
          </div>

          <hr class="resoult-hr">
          <div class="results">
            <h2 class="results__title">Eredmény</h2>
            <ul>
              <li>
                <p class="results__sub-title">Kreditindex (KI)</p>
                <h2 class="results__num">{{Number(KI).toFixed(2)}}</h2>
              </li>
              <li>
                <p class="results__sub-title">Korigált kreditindex (KKI)</p>
                <h2 class="results__num">{{Number(KKI).toFixed(2)}}</h2>
              </li>
              <li>
                <p class="results__sub-title">Súlyozott átlag</p>
                <h2 class="results__num">{{Number(weightedAVG).toFixed(2)}}</h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import NumInput from "~/components/NumInput";
import Button from "~/components/buttons/Button";
export default {
  data() {
    return {
      newName: "",
      newCredit: 1,
      newNote: 1,
      subjects: [],
      noteSUM: 0,
      noteAVG: 0,
      creditSUM: 0,
      completedCreditSUM: 0,
      note_x_creditSUM: 0,
      KI: 0,
      KKI: 0,
      weightedAVG: 0,
    };
  },
  components: {
    NumInput,
  },
  created() {
  },
  methods: {
    addSubject() {

      // ERROR IF NAME = ""
      if (this.newName == "") {

        // Notification
        this.$toast.error(
          'A "Tantárgy neve", "Kredit érték", "Érdemjegy" kitöltése kötelező!',
          {
            position: "bottom-left",
            timeout: 4000,
            closeOnClick: true,
            pauseOnFocusLoss: true,
            pauseOnHover: true,
            draggable: true,
            draggablePercent: 0.6,
            showCloseButtonOnHover: false,
            hideProgressBar: false,
            closeButton: "button",
            icon: true,
            rtl: false,
          }
        );
      } else {

        // Notification
        this.$toast.success(
          '"' + this.newName + '" tantárgy sikeresen hozzáadva!',
          {
            position: "bottom-left",
            timeout: 4000,
            closeOnClick: true,
            pauseOnFocusLoss: true,
            pauseOnHover: true,
            draggable: true,
            draggablePercent: 0.6,
            showCloseButtonOnHover: false,
            hideProgressBar: false,
            closeButton: "button",
            icon: true,
            rtl: false,
          }
        );

        this.subjects.push({
          name: this.newName,
          credit: this.newCredit,
          note: this.newNote,
        });
        this.newName = "";
      }
    },

    deleteSubject(index) {

      // Notification
      this.$toast.success(
        '"' + this.subjects[index].name + '" tantárgy törölve',
        {
          position: "bottom-left",
          timeout: 4000,
          closeOnClick: true,
          pauseOnFocusLoss: true,
          pauseOnHover: true,
          draggable: true,
          draggablePercent: 0.6,
          showCloseButtonOnHover: false,
          hideProgressBar: false,
          closeButton: "button",
          icon: true,
          rtl: false,
        }
      );

      this.subjects.splice(index, 1);
    },

    calculate() {
      if (this.subjects.length < 1) {

        // Notification
        this.$toast.error("A számoláshoz adj hozzá tantárgyat!", {
          position: "bottom-left",
          timeout: 4000,
          closeOnClick: true,
          pauseOnFocusLoss: true,
          pauseOnHover: true,
          draggable: true,
          draggablePercent: 0.6,
          showCloseButtonOnHover: false,
          hideProgressBar: false,
          closeButton: "button",
          icon: true,
          rtl: false,
        });
      } else if (this.newName != "") {

        // Notification
        this.$toast.error(
          'Add hozzá az utolsó Tantárgyat is a "+" gomb segítségével!',
          {
            position: "bottom-left",
            timeout: 4000,
            closeOnClick: true,
            pauseOnFocusLoss: true,
            pauseOnHover: true,
            draggable: true,
            draggablePercent: 0.6,
            showCloseButtonOnHover: false,
            hideProgressBar: false,
            closeButton: "button",
            icon: true,
            rtl: false,
          }
        );
      } else {
        // Notification
        this.$toast.success("Sikeres számolás!", {
          position: "bottom-left",
          timeout: 4000,
          closeOnClick: true,
          pauseOnFocusLoss: true,
          pauseOnHover: true,
          draggable: true,
          draggablePercent: 0.6,
          showCloseButtonOnHover: false,
          hideProgressBar: false,
          closeButton: "button",
          icon: true,
          rtl: false,
        });

        /* ===== Set as default ===== */

        // auxiliary variables
        this.noteSUM = 0;
        this.noteAVG = 0;
        this.creditSUM = 0;
        this.completedCreditSUM = 0;
        this.note_x_creditSUM = 0;

        // main variables
        this.KI = 0;
        this.KKI = 0;
        this.weightedAVG = 0;

        // loop subjects array
        for (let index = 0; index < this.subjects.length; index++) {
          // SUM of Notes
          this.noteSUM =
            parseInt(this.subjects[index].note) + parseInt(this.noteSUM);

          // SUM of Credits
          this.creditSUM =
            parseInt(this.subjects[index].credit) + parseInt(this.creditSUM);

          // IF Subject Completed(Note greather than 1)
          if (this.subjects[index].note > 1) {
            // SUM of Fulfilled Credits
            this.completedCreditSUM =
              parseInt(this.subjects[index].credit) +
              parseInt(this.completedCreditSUM);

            // SUM of Notes * Fulfilled Credits
            this.note_x_creditSUM =
              this.subjects[index].note * this.subjects[index].credit +
              this.note_x_creditSUM;
          }
        }

        /* ===== RESULTS ===== */

        // AVG
        this.noteAVG = this.noteSUM / this.subjects.length;

        // KI
        this.KI = this.note_x_creditSUM / 30;

        // KKI
        this.KKI = this.KI * (this.completedCreditSUM / this.creditSUM);

        // WEIGHTED AVG
        this.weightedAVG = this.note_x_creditSUM / this.completedCreditSUM;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
main {
  padding-top: 80px;
  background: $bg-gray;

  @media screen and (max-width: 992px) {
    padding-top: 60px;
  }
}

/* ==== GRIDS ==== */
.head-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 2fr 1fr;
  padding: $space-xl-head $space-l;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
  }

  @media screen and (max-width: 700px) {
    padding: $space-xl $space-m;
    grid-template-columns: 1fr;

    img {
      display: none;
    }
  }
}

.calculator-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-row-gap: $space-l;
  padding: 0 $space-l $space-xxl $space-l;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
  }

  @media screen and (max-width: 700px) {
    padding: 0;
    grid-template-columns: 1fr;

    img {
      display: none;
    }
  }
}

/* ==== TEXT1 ==== */
.text {
  &__container {
    max-width: 1166px;
    margin: 0 auto;
    padding: 0 $space-l;

    @media screen and (max-width: 992px) {
      padding: 0 50px;
    }

    @media screen and (max-width: 600px) {
      padding: 0 $space-m;
    }
  }

  &__title {
    text-align: center;
  }

  &__content {
    font-family: "MontserratThin";
    margin-top: $space-m;
  }
}

/* ==== CALCULATOR HEAD ==== */
.head {
  position: relative;
  background: $bg-gray;
  color: $primaryColor;

  #darker {
    position: absolute;
    width: 100%;
    height: 700px;
    background: transparent
      linear-gradient(40deg, #000000 0%, #00000000 100%, #545454cc 100%) 0% 0%
      no-repeat padding-box;
    z-index: 2;
  }

  &__container {
    position: relative;
    z-index: 5;
    color: $primaryColor;
  }

  img {
    position: absolute;
    width: 100%;
    height: 600px;
    object-fit: cover;
    z-index: 1;
    object-position: 50% 60%;
  }

  &__sub-title {
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__text {
    max-width: 580px;
    opacity: 0.8;
  }

  &__right {
    justify-self: right;
  }
}

/* ==== CALCULATOR  ==== */
.calculator {
  position: relative;
  z-index: 500;

  /* ==== COUNTER  ==== */
  &__bg {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .counter {
    background: $white;
    width: 100%;
    height: auto;
    box-shadow: 10px 43px 68px #00000012;
    padding: $space-l;
    border-radius: $default;

    #add-td {
      margin-top: $space-s !important;
    }

    // Default: mobil holder not active
    &__mobil-subject-holder {
      display: none;
    }

    // If width smaller than 600px mobil holder active
    @media screen and (max-width: 600px) {
      padding: $space-m;

      .bg-svg {
        display: none;
      }

      li {
        margin-bottom: $space-s;
      }

      label {
        display: inline-block;
        font-size: $paragraph_small;
        margin-bottom: $space-xxs;
      }

      #btn {
        display: flex;
        align-self: flex-end;
      }

      &__mobil-subject-holder {
        display: inline;
      }

      &__subject-holder {
        display: none;
      }

      &__mobil-top-holder {
        display: flex;
        margin-bottom: $space-xs;
        align-items: center;
      }

      &__mobil-bottom-holder {
        display: flex;
      }
    }

    &__title {
      margin-bottom: $space-l;
    }

    &__sub-title {
      margin-bottom: $space-xxs;
      font-size: $paragraph_small;
      font-weight: bold;
      opacity: 0.5;
    }

    &__num {
      margin-bottom: $space-m;
    }

    &__del-button {
      -webkit-appearance: none;
      background: #e81212db;
      border: 0;
      border-radius: $default;
      color: $white;
      cursor: pointer;
      float: left;
      font-size: $paragraph_xsmall;
      height: 30px;
      margin: 0;
      width: 30px;
      outline: none;

      &:hover {
        background: lighten(#e81212db, 10%);
      }
    }

    &__add-button {
      -webkit-appearance: none;
      background: $primaryColor;
      border: 0;
      border-radius: $default;
      color: $white;
      cursor: pointer;
      float: left;
      font-size: $paragraph_xsmall;
      height: 30px;
      margin: 0;
      width: 30px;
      outline: none;

      &:hover {
        opacity: 0.8;
      }
    }

    table {
      width: 100%;

      th {
        text-align: left;
        padding-bottom: $space-xxs;
      }

      td {
        padding: $space-xxxs 0;
      }
    }

    #numInput {
      min-width: 135px;
      max-width: 190px;
    }

    #btn {
      max-width: 100px;
    }

    &__subject-input {
      background: $bg-gray;
      padding: $space-xxs;
      outline: none;
      border: none;
      width: 90%;
      border-radius: $default;
    }

    &__new-subject-input {
      padding: $space-xxs;
      border: 1px solid $primaryColor;
      border-radius: $default;
      outline: none;
      width: 90%;
    }

    &__footer {
      display: flex;
      margin-top: $space-m;
      align-items: center;

      p {
        margin-left: $space-m;
        opacity: 0.6;
      }
    }
  }

  /* ==== RESULTS  ==== */
  .results {
    background: $white;
    width: 100%;
    height: auto;
    text-align: left;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: left;

      @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
      }
    }

    &__title {
      margin-bottom: $space-m;
    }

    &__sub-title {
      margin-bottom: $space-xxs;
      font-size: $paragraph_small;
      font-weight: bold;
      opacity: 0.5;
    }

    &__num {
      margin-bottom: $space-m;
      text-align: center;

      @media screen and (max-width: 600px) {
        text-align: left;
      }
    }
  }

  /* ==== HR line  ==== */
  .resoult-hr {
    margin: $space-m 0;
    opacity: 0.8;
  }
}

@media screen and (max-width: 1024px) {
  .bg-svg {
    display: none;
  }
}
</style>
