<template>
  <main>

    <!--===== HEADER =====-->
    <section class="head">
      <img
        class="calculator__bg"
        data-aos-delay="400"
        data-aos="fade"
        data-aos-easing="linear"
        data-aos-duration="1500"
        src="~/assets/svg/SVG4.svg"
        alt
      />

      <div class="head__container head-grid">
        <div class="head__left">
          <h1 class="head__title">Segítségre van szükséged?</h1>
          <p class="head__text">
            Keress minket az irodánkban vagy küldj üzenetet nekünk és mi
            válaszolunk minden felmerülő kérdésedre!
          </p>
          <a href="http://m.me/PTETTKHOK?ref=150123858380403" target="_blank">
            <Button class="head__button" type="cta">Írok egy üzenetet</Button>
          </a>
        </div>
      </div>
    </section>

    <div class="opening-info">
      <h3>PTE TTK HÖK IRODA NYITVATARTÁSA</h3>
      <ul>
        <li>
          <h6>Hétfő</h6>
          <p>09:00 - 16:00</p>
        </li>
        <li>
          <h6>Kedd</h6>
          <p>09:00 - 16:00</p>
        </li>
        <li>
          <h6>Szerda</h6>
          <p>09:00 - 16:00</p>
        </li>
        <li>
          <h6>Csütörtök</h6>
          <p>09:00 - 16:00</p>
        </li>
        <li>
          <h6>Péntek</h6>
          <p>09:00 - 15:00</p>
        </li>
      </ul>
    </div>

    <div class="location-info">
      <h3>PTE TTK HÖK IRODA ELHELYEZKEDÉSE</h3>
      <button class="social-button">
        <font-awesome-icon class="icon" :icon="['fa', 'location-arrow']" />
      </button>
      <p>7624 Pécs, Ifjúság útja 6.</p>
      <div class="map">
        <div class="map">
          <GmapMap
            :center="{ lat: 46.076469384078436, lng: 18.206597301798546 }"
            :zoom="17"
            map-type-id="terrain"
            style="width: 100%; height: 100%"
          >
            <GmapMarker
              :position="{ lat: 46.076469384078436, lng: 18.206597301798546 }"
              :label="markerLabel"
              :clickable="true"
              :draggable="true"
            />
          </GmapMap>
        </div>
      </div>
    </div>
  </main>
</template>

 <script>
export default {
  data() {
    return {
      markerLabel: {
        text: "PTE TTK HÖK Iroda",
        color: "#000",
        fontSize: "14px",
        fontWeight: "bold",
      },
    };
  },
};
</script>
<style lang="scss" scoped>
main {
  padding-top: 80px;

  @media screen and (max-width: 1024px) {
    padding-top: 60px;
  }
}

.head-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 2fr 1fr;
  padding: $space-xl-head $space-l;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
  }

  @media screen and (max-width: 700px) {
    padding: $space-xl $space-m;
    grid-template-columns: 1fr;

    img {
      display: none;
    }
  }
}

.head {
  position: relative;
  background: $white;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__container {
    position: relative;
    z-index: 5;
    color: $primaryColor;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    object-position: 50% 80%;
  }

  &__sub-title {
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__text {
    margin-bottom: $space-xl;
    max-width: 580px;
    opacity: 0.8;
    line-height: 1.6;
  }

  &__right {
    justify-self: right;
  }
}

.contact-title {
  max-width: 516px;
  margin-top: 150px;

  h1 {
    font-weight: bold;
  }

  h4 {
    opacity: 30%;
  }
}

// CONTACT INFO
.contact-info {
  position: relative;
  padding: $space-m 20%;
  display: flex;
  margin-right: $space-l;
}

.info-holder {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.info-holder:first-child {
  padding-right: $space-l;
}

.icon-holder {
  width: 51px;
  height: 51px;
  border-radius: $round;
  background: $white;
  box-shadow: 0px 3px 6px #00000029;
  color: $primaryColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: $space-s;
}

// SOCIAL INFO
.social-info {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.social-btn-holder {
  display: flex;
  justify-content: space-between;
  width: 320px;

  .icon {
    font-size: 30px;
  }
}

.social-button {
  width: 85px;
  height: 85px;
  background: $white;
  box-shadow: 0px 3px 6px #00000029;
  color: $primaryColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: $round;
  &:hover {
    background: $primaryColor;
    color: $secondaryColor;
    transition: 0.2s;
  }
}

.opening-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  background: $bg-gray;
  padding: 100px 0;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  ul {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 730px) {
      flex-flow: column;
    }
  }

  h3 {
    margin-bottom: 80px;
    text-align: center;
  }

  li {
    list-style: none;
    margin-bottom: $space-m;
    margin-right: $space-m;

    @media screen and (max-width: 730px) {
      margin-right: 0;
    }

    h6 {
      text-align: center;
      margin-bottom: $space-xxs;
      text-transform: uppercase;
      font-weight: 400;
    }

    p {
      color: $titleColor;

      @media screen and (max-width: 730px) {
        text-align: center;
      }
    }
  }

  li:last-child {
    margin: 0;
  }
}

.location-info {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 0 $space-l;
  background: $bg-gray;

  h3 {
    margin-bottom: $space-xl;

    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }

  p {
    padding: $space-m 0;
  }

  .icon {
    font-size: 30px;
  }
}

.map {
  height: 600px;
  background: $light-blue;
  width: 100%;
}

@media screen and (max-width: 1535px) {
  .contact-info {
    flex-flow: column;
  }

  .info-holder:first-child {
    padding-bottom: $space-s;
  }
}
</style>
