<template>
  <main>

    <!--===== HEADER =====-->
    <section class="head">
      <img
        style="object-position: center"
        src="~/assets/images/events_album/event29.jpg"
        alt
      />
      <div id="darker"></div>
      <div class="head__container head-grid">
        <div class="head__left">
          <h4 class="head__sub-title">Rendezvényeink</h4>
          <h2 class="head__title">
            Légy részese Te is a Hallgatói közösségnek
          </h2>
          <p class="head__text">
            Hiszünk abban, hogy rendezényeinkkel mindenki számára szinessé és
            emlékezetessé tudjuk varázsolni az egyetemi éveket.
          </p>
          <Button class="head__button" @click="scrollToActual" type="cta"
            >Aktuális események</Button
          >
        </div>
      </div>
    </section>

    <!--===== ABOUT =====-->
    <section class="about">
      <img
        class="about__bg"
        src="~/assets/svg/SVG2.svg"
        data-aos="zoom-out-up"
        data-aos-offset="350"
        data-aos-delay="300"
        alt
      />
      <div class="about__container about-grid">
        <div class="about__left">
          <h4 class="about__sub-title">RENDEZVÉNYEINK</h4>
          <h2 class="about__title">Amit a rendezvényeinkről tudnod kell</h2>
        </div>
        <div>
          <div class="about__right">
            <h4 class="about__text top-text">
              Karunk rendkívül aktív hallgatói élettel rendelkezik, köszönhetően
              a hallgatói önkormányzat sokévre visszanyúló eredményes
              munkájának. Éves szinten rengeteg program, kirándulás és
              szabadidős tevékenység várja a kikapcsolódni vágyó hallgatókat.
            </h4>
            <h4 class="about__text">
              Rendezvényeink létszáma bizonyos esetekben meghaladja a több száz
              hallgatót is, ami óriási örömünkre szolgál és visszaigazolja a
              sok-sok szervezésbe fektetett energiánkat. Szeretettel várunk
              minden kedves hallgatót legyen szó egy hasznos tanulmányi
              fórumról, egy jóizű esti bográcsozásról vagy egy fergeteges
              TTKeddről. Az oldalon lefele haladva megtaláljátok a legnépszerűbb
              eseményeinket egy rövid leírással és egy facebook hivatkozással,
              ahonnan könnyedén tovább navigálhattok a hozzájuk kapcsolódó
              facebook albumokhoz.
            </h4>
          </div>
        </div>
      </div>
    </section>

    <!--===== CAROUSEL =====-->
    <div id="app">
      <agile
        :infinite="false"
        :autoplay="true"
        :autoplay-speed="4000"
        timing="ease-in-out"
      >
        <img
          class="slide"
          style="object-position: top"
          src="~/assets/images/events_album/event19.jpg"
        />
        <img
          class="slide"
          style="object-position: center"
          src="~/assets/images/events_album/event11.jpg"
        />
        <img
          class="slide"
          style="object-position: center"
          src="~/assets/images/events_album/event12.jpg"
        />
        <img
          class="slide"
          style="object-position: center"
          src="~/assets/images/events_album/event9.jpg"
        />
        <img
          class="slide"
          style="object-position: center"
          src="~/assets/images/events_album/event30.jpg"
        />
        <img
          class="slide"
          style="object-position: center"
          src="~/assets/images/events_album/event1.jpg"
        />
        <img
          class="slide"
          style="object-position: center"
          src="~/assets/images/events_album/event8.jpg"
        />
        <img
          class="slide"
          style="object-position: center"
          src="~/assets/images/events_album/event15.jpg"
        />
        <img
          class="slide"
          style="object-position: center"
          src="~/assets/images/events_album/event16.jpg"
        />
        <img
          class="slide"
          style="object-position: center"
          src="~/assets/images/events_album/event17.jpg"
        />
        <img
          class="slide"
          style="object-position: center"
          src="~/assets/images/events_album/event26.jpg"
        />
        <img
          class="slide"
          style="object-position: center"
          src="~/assets/images/events_album/event27.jpg"
        />
        <img
          class="slide"
          style="object-position: center"
          src="~/assets/images/events_album/event28.jpg"
        />
      </agile>
    </div>

    <!--===== FACEBOOK EVENTS =====-->
    <section id="actual-events" class="events">
      <img
        class="bg"
        src="~/assets/svg/SVG2.svg"
        data-aos-delay="400"
        data-aos="fade"
        data-aos-easing="linear"
        data-aos-duration="1500"
        alt
      />
      <div
        class="events__container events-grid"
        data-aos="zoom-out-up"
        data-aos-offset="350"
        data-aos-delay="300"
      >
        <div class="events__left">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPTETTKHOK%2F&tabs=events&width=500&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          ></iframe>
        </div>
        <div class="events__left-mobil">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPTETTKHOK%2F&tabs=events&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          ></iframe>
        </div>
        <div class="events__right">
          <h4 class="events__sub-title">RENDEZVÉNYEINK</h4>
          <h2 class="events__title">Aktuális események</h2>
          <h4 class="events__text top-text">
            A rendezvényeinkhez rendszerint készítünk egy online facebook
            eseményt, melyen megtaláljátok a legfontosabb információkat a
            rendezvénnyel kapcsolatban.
          </h4>
          <h4 class="events__text">
            Az eseményeinket rendszerint legalább két héttel a megrendezés előtt
            meghirdetjük a facebook oldalunkon, megosztjuk hallgatóinkkal,
            valamint figyelemfelkeltő plakátokat is elhelyezünk karunk
            területén. Érdemes aktívan követni a facebook oldalunkat, ha nem
            szeretnétek semmiről sem lemaradni. Rendezvényeinken ingyenesen,
            vagy kedvezményes áron tudtok részt venni, s ezeken minden vérbeli
            TTK-s társunkat örömmel látjuk.
          </h4>
        </div>
      </div>
    </section>

    <!--===== TEXT1 =====-->
    <section class="text">
      <div data-aos="fade-up" class="text__container bg-grid">
        <h2 class="text__title">Tarts velünk az egész szemeszterben</h2>
        <h4 class="text__content">
          A szemeszter minden hetében tartogatunk számotokra kikapcsolódási
          lehetőséget. Ne feledjétek, hogy rendezvényeink során felejthetetlen
          élményekkel, igazi életreszóló barátságokkal lehettek gazdagabbak.
          Szeretettel várunk Titeket, a szemeszter bármelyik eseményéről is
          legyen szó.
        </h4>
      </div>
    </section>

    <!--===== EVENT LIST =====-->
    <section
      class="event"
      v-for="(event, index) in events"
      :key="`event-${index}`"
    >
      <div data-aos="fade-up" class="event__container event-grid">
        <div class="event__left">
          <div class="event__face-holder">
            <a :href="event.album" target="_blank">
              <font-awesome-icon
                class="icon"
                :icon="['fab', 'facebook-square']"
              />Album
            </a>
          </div>
          <h4 class="event__sub-title">{{ event.subTitle }}</h4>
          <h2 class="event__title">{{ event.title }}</h2>
          <p class="event__text">{{ event.text }}</p>
        </div>
        <img :src="require(`~/assets/images/events_album/${event.img}`)" alt />
        <div id="darker"></div>
      </div>
    </section>
  </main>
</template>
<script>
export default {
  data() {
    return {
      events: [
        {
          subTitle: "Gólyatábor",
          title: "Téged is vár a PTE TTK Gólyatábora",
          text: "A Gólyatábor a legjobb lehetőség, hogy megünnepeld egyetemi életed kezdetét.",
          img: "event21.jpg",
          album:
            "https://www.facebook.com/media/set/?vanity=PTETTKHOK&set=a.2549643275095104",
        },
        {
          subTitle: "TTKedd",
          title: "A TTK fergeteges bulisorozata",
          text: "Ha kedd akkor TTKedd! A város legnevesebb Dj-vel várunk mindenkit a Pécsi sörházban.",
          img: "event22.jpg",
          album:
            "https://www.facebook.com/TTKEDD/photos/?tab=album&ref=page_internal",
        },
        {
          subTitle: "Gólyabál",
          title: "Az újdonsült Gólyáink meghatározó eseménye",
          text: "A Gólyabál az elsőévesek legcsodálatosabb rendezvénye. Gyönyörűen feldíszített helyszín, elegáns fogadtatás és színes fellépő kínálat várja a résztvevőket",
          img: "event25.jpg",
          album:
            "https://www.facebook.com/media/set/?vanity=PTETTKHOK&set=a.2715591448500285",
        },
        {
          subTitle: "Kolbásztöltő fesztivál",
          title: "A tavasz fénypontja a frissen sült kolbászunk",
          text: "A Kolbásztöltő fesztivál különböző csapatversenyekkel vár Titeket. Előkerülnek a falusi fortélyok és kiderül melyik csapat készíti el a TTK legfinomabb kolbászát ",
          img: "event2.jpg",
          album:
            "https://www.facebook.com/media/set/?vanity=pecsibolcsesz&set=a.2340866269292106",
        },
        {
          subTitle: "Főzőverseny",
          title: "A Közös főzések a legjobb csapatépítő programok.",
          text: "Vegyétek elő a főzőtudományotokat és mutassátok meg, hogy a Ti főzitek a TTK legjobb pincepörköltjét",
          img: "event8.jpg",
          album:
            "https://www.facebook.com/media/set/?vanity=PTETTKHOK&set=a.2585685614824203",
        },
        {
          subTitle: "Borkóstoló",
          title: "Borgasztronómiai élmények",
          text: "Rendezvényünkön számos környékbeli pincészet borkínálatába kóstolhatnak bele a résztvevő hallgatók egy hangulatos csapatépítő délután alkalmával",
          img: "event10.jpg",
          album:
            "https://www.facebook.com/media/set/?vanity=PTETTKHOK&set=a.1359988820727228",
        },
        {
          subTitle: "Szakhét",
          title: "Légy bármilyen szakos, ez a hét érted van",
          text: "Az esemény keretein belül jobban megismerhetitek egymást és az oktatóitokat, miközben rengeteg izgalmas kihívás előtt álltok.",
          img: "event24.jpg",
          album:
            "https://www.facebook.com/media/set/?vanity=PTETTKHOK&set=a.1735393769853396",
        },
        {
          subTitle: "Gamer Bajnoskág",
          title: "Imádjuk az E-SPORTOKAT",
          text: "A kurzusok hallgatása helyett megmutathatjátok mennyit fejlődtetek CS: GO-ban, LOL-ban, vagy RL-ben!",
          img: "event6.jpg",
          album:
            "https://www.facebook.com/PTETTKHOK/photos/?tab=album&ref=page_internal",
        },
        {
          subTitle: "Október feszt",
          title: "Nem kell elmenned Münchenbe egy igazán jó fesztiválért",
          text: "Mikor beköszönt az október eljött az ideje annak is, hogy ismételten megszervezzük a mára már hagyománnyá vált PTE BTK - TTK Októberfesztet!",
          img: "event16.jpg",
          album:
            "https://www.facebook.com/media/set/?vanity=PTETTKHOK&set=a.2633780303348067",
        },
        {
          subTitle: "Gokart verseny",
          title: "Állj be Te is a TTK-s boxutcába",
          text: "A tavaszi szemeszter alkalmával mindenkit vár a TTK-s Gokart IDŐMÉRŐ bajnokság, a Sprint Kupa.",
          img: "event23.jpg",
          album:
            "https://www.facebook.com/media/set/?vanity=PTETTKHOK&set=a.583577475035037",
        },
      ],
    };
  },
  methods: {
    scrollToActual() {
      var elmnt = document.getElementById("actual-events");
      elmnt.scrollIntoView({
        behavior: "smooth",
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.bg {
  position: absolute;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 992px) {
    display: none;
  }
}

main {
  padding-top: 80px;

  @media screen and (max-width: 1024px) {
    padding-top: 60px;
  }
}

/* ==== GRIDS ==== */
.head-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 2fr 1fr;
  padding: $space-xl-head $space-l;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
  }

  @media screen and (max-width: 700px) {
    padding: $space-xl $space-m;
    grid-template-columns: 1fr;

    img {
      display: none;
    }
  }
}

.about-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 4fr 5fr;
  padding: $space-xl-head $space-l;
  grid-gap: $space-xl;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
    grid-gap: 0;
  }

  @media screen and (max-width: 700px) {
    padding: $space-xl $space-m;
    grid-template-columns: 1fr;

    img {
      display: none;
    }
  }
}

.events-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 4fr 5fr;
  padding: $space-xl-head $space-l;
  grid-gap: $space-xl;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 700px) {
    padding: $space-m $space-m;
    grid-template-columns: 1fr;

    img {
      display: none;
    }
  }
}

.event-grid {
  max-width: 1086px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  padding: $space-xl-head $space-l;
  margin: 0 auto;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
  }

  @media screen and (max-width: 700px) {
    padding: $space-xl $space-m;
    grid-template-columns: 1fr;
  }
}

.carousel-grid {
  max-width: 1086px;
  display: grid;
  width: 100%;
  margin: $space-l auto;
  grid-template-columns: 1fr;
  padding: $space-xl-head $space-l;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
  }

  @media screen and (max-width: 700px) {
    padding: $space-xl $space-m;
    grid-template-columns: 1fr;
  }
}

/* ==== SERVICES HEAD ==== */
.head {
  position: relative;
  background: $bg-gray;

  #darker {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent
      linear-gradient(40deg, #000000 0%, #00000000 100%, #545454cc 100%) 0% 0%
      no-repeat padding-box;
    z-index: 2;
  }

  &__container {
    position: relative;
    z-index: 5;
    color: $white;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    object-position: 50% 20%;
  }

  &__sub-title {
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__text {
    margin-bottom: $space-xl;
    max-width: 580px;
    opacity: 0.8;
    line-height: 1.6;
  }
}

/* ==== ABOUT ==== */

.about {
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .top-text {
    margin-bottom: $space-l;
  }

  &__text {
    max-width: 580px;
    opacity: 0.6;
    line-height: 1.6;
    font-weight: 400;

    @media screen and (max-width: 700px) {
      margin-bottom: $space-l;
    }
  }

  &__title {
    margin-bottom: $space-m;
  }
}

/* ==== TEXT1 ==== */
.text {
  &__container {
    max-width: 1166px;
    margin: 0 auto;
    padding: 0 $space-l;

    @media screen and (max-width: 992px) {
      padding: 0 50px;
    }

    @media screen and (max-width: 600px) {
      padding: 0 $space-m;
    }
  }

  &__title {
    text-align: center;
  }

  &__content {
    margin-top: $space-m;
    opacity: 0.6;
    line-height: 1.6;
  }
}

/* ==== AGLIE SECTION ====*/
.aglie-section {
  width: 1166px;
}

/* ==== EVENTS ==== */
.events {
  .top-text {
    margin-bottom: $space-l;
  }

  &__text {
    opacity: 0.6;
    line-height: 1.6;

     @media screen and (max-width: 700px) {
      margin-bottom: $space-l;
    }
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__left {
    width: 100%;
    height: 100%;

    iframe {
      width: 500px;
      height: 600px;
    }

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  &__left-mobil {
    iframe {
      width: 300px;
      height: 400px;
    }

    @media screen and (min-width: 700px) {
      display: none;
    }
  }
}

/* ==== EVENT ==== */
.event {
  position: relative;
  padding: $space-l;

  @media screen and (max-width: 700px) {
    padding: $space-s;
  }

  #darker {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent
      linear-gradient(40deg, #000000 0%, #00000000 100%, #545454cc 100%) 0% 0%
      no-repeat padding-box;
    z-index: 2;
    border-radius: $default;
  }

  &__face-holder {
    position: fixed;
    right: $space-l;
    top: $space-l;
    z-index: 6;

    @media screen and (max-width: 700px) {
      right: $space-l;
      bottom: $space-l;
      top: auto;
    }

    a {
      display: flex;
      align-items: center;
      color: white;
    }

    .icon {
      width: 30px;
      height: 30px;
      margin-right: $space-xxs;
    }
  }

  &__container {
    position: relative;
    z-index: 5;
    color: $white;
    height: 450px;
  }

  &__left {
    z-index: 6;
  }

  &__sub-title {
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__text {
    margin-bottom: $space-xl;
    line-height: 1.6;
    max-width: 500px;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    object-position: 50% 20%;
    border-radius: $default;
  }
}

.carousel {
  &__container {
    position: relative;
    z-index: 5;
    color: $white;
  }
}
</style>

<style lang="scss">

/* ==== CRAOUSEL ==== */
#app {
  max-width: 1086px;
  display: block;
  margin: 0 auto;
}

.agile__nav-button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  width: 80px;
}

.agile__nav-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.agile__nav-button--prev {
  left: 0;
}

.agile__nav-button--next {
  right: 0;
}

.agile__dots {
  bottom: 10px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.agile__dot {
  margin: 0 10px;
}

.agile__dot button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}

.agile__dot--current button,
.agile__dot:hover button {
  background-color: #fff;
}

.slide {
  display: block;
  height: 600px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  border-radius: $default;
}
</style>
