<template>
  <main>
    <!--===== HEADER =====-->
    <section class="head">
      <div class="head__container head-grid">
        <div class="head__left">
          <h4 class="head__sub-title">Irány a gólyatábor</h4>
          <h2 class="head__title">Gólya Pass Generátor</h2>
          <p class="head__text">
            A táborba való belépés során minden résztveő kap egy nyakba
            akasztható kártyát, mely segítségével beazonosítható lesz a
            rendezvény ideje alatt. Ha felvettek a gólyatáborba, akkor készítsd
            el te is a saját passodat!
          </p>
          <Button class="head__button" type="cta"
            >Elkészítem a Pass-omat</Button
          >
        </div>
      </div>
    </section>

    <!--===== STEPS =====-->
    <section class="steps">
      <div class="steps__container steps-grid">
        <div class="steps__title-holder">
          <h4 class="steps__sub-title">Lépések</h4>
          <h2 class="steps__title">Készítsd el a Gólya Passod</h2>
        </div>
        <div class="steps__card-container">
          <div
            data-aos="fade-up"
            data-aos-delay="300"
            data-aos-offset="200"
            class="steps__card"
          >
            <div class="steps__step-num">1</div>
            <h5 class="steps__card-title">Adatok megadása</h5>
            <p class="steps__card-sub-title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              elementum molestie orci sed convallis.
            </p>
          </div>
          <div
            data-aos="fade-up"
            data-aos-delay="500"
            data-aos-offset="200"
            class="steps__card"
          >
            <div class="steps__step-num">2</div>
            <h5 class="steps__card-title">Fénykép feltöltése</h5>
            <p class="steps__card-sub-title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              elementum molestie orci sed convallis.
            </p>
          </div>
          <div
            data-aos="fade-up"
            data-aos-delay="700"
            data-aos-offset="200"
            class="steps__card"
          >
            <div class="steps__step-num">3</div>
            <h5 class="steps__card-title">Beküldés</h5>
            <p class="steps__card-sub-title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              elementum molestie orci sed convallis.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--===== GENERATOR =====-->
    <section class="generator">
      <div class="generator__container generator-grid">
        <div class="generator__left" data-aos="fade-right" data-aos-delay="400">
          <div class="generator__title-holder">
            <h4 class="generator__sub-title">Pass Generátor</h4>
            <h2 class="generator__title">A Te Gólya Passod</h2>
            <div class="contact-form">
              <h3>Adatok megadása</h3>
              <div>
                <input
                  class="form-field"
                  id="name"
                  type="text"
                  name="name"
                  placeholder="Teljes név"
                />
                <label class="form-label" for="name">Teljes név</label>
              </div>
              <div>
                <input
                  class="form-field"
                  id="email"
                  type="text"
                  name="email"
                  placeholder="Email"
                />
                <label class="form-label" for="email">Szak</label>
              </div>
              <div>
                <Button class="upload" type="upload">Fénykép feltöltése</Button>
              </div>

              <Button class="form" type="form">Beküldés</Button>
            </div>
          </div>
        </div>
        <div class="generator__right">
          <h2>Előnézet</h2>
        </div>
      </div>
    </section>

    <!--===== GT =====-->
    <section class="gt">
      <div class="gt__container gt-grid">
        <div class="gt__left">
          <img src="~/assets/images/events_album/irany.jpg" alt />
        </div>
        <div class="gt__right">
          <h4 class="gt__sub-title">Irány a gólyatábor</h4>
          <h2 class="gt__title">Lesd meg mi vár rád a GT-ben</h2>
          <p class="gt__text">
            A Gólyatábor a legjobb lehetőség, hogy megünnepeld egyetemi életed
            kezdetét. Tekintsd meg összefoglaló oldalunkat.
          </p>
          <Button class="gt__button" type="cta">A Gólyatáborhoz</Button>
        </div>
      </div>
    </section>
  </main>
</template>
<script>
import Button from "~/components/buttons/Button";

export default {
  data() {
    return {};
  },
  components: {
    Button,
  },
};
</script>
<style lang="scss" scoped>
main {
  padding-top: 80px;
}

/* ==== DEFAULT GRID ==== */

.head-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 2fr 1fr;
  padding: 80px $space-l;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
  }

  @media screen and (max-width: 700px) {
    padding: $space-xl $space-m;
    grid-template-columns: 1fr;
    img {
      display: none;
    }
  }
}

.steps-grid {
  max-width: 1166px;
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  margin: 0 auto;
  padding: $space-xl $space-l;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
  }

  @media screen and (max-width: 600px) {
    padding: $space-xl $space-m;
  }
}

.generator-grid {
  max-width: 1166px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  padding: $space-l 0;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 600px) {
    padding: 0 $space-m;
  }
}

.gt-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  padding: $space-xl-head $space-l;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 600px) {
    padding: $space-xl $space-m;
  }
}

/* ==== PAGE HEAD ==== */

.head {
  position: relative;
  background: $white;

  img {
    width: 300px;
    height: auto;
    object-fit: cover;
    z-index: 1;
    object-position: top;
  }

  &__sub-title {
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__text {
    margin-bottom: $space-xl;
    max-width: 580px;
    opacity: 0.8;
    line-height: 1.6;
  }

  &__right {
    justify-self: right;
  }
}

/* ==== PAGE STEPS ==== */
.steps {
  position: relative;
  background: $gray;

  &__container {
    height: auto;

    @media screen and (max-width: 992px) {
      height: auto;
    }
  }

  &__title {
    text-align: center;
  }

  &__sub-title {
    text-align: center;
    text-transform: uppercase;
  }

  &__card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $space-xl;
    margin: $space-xxl 0;

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    position: relative;
    background: $white;
    box-shadow: 8px 20px 22px #00000025;
    padding: $space-l;
    border-radius: $default;
  }

  &__step-num {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    font-size: $heading_4;
    width: 60px;
    height: 60px;
    background: $primaryColor;
    color: $white;
    border-radius: $round;
    margin: 0 auto;
  }

  &__card-title {
    font-size: $heading_4;
    color: $primaryColor;
    font-weight: bold;
    margin-bottom: $space-s;
    text-align: center;
  }

  &__card-sub-title {
    text-align: center;
    opacity: 0.7;
    letter-spacing: 1.6;
    line-height: 1.6;
  }
}

/* ==== GENERATOR ==== */

.generator {
  position: relative;
  background: $gray;

  &__left {
    justify-self: center;
  }

  &__sub-title {
    text-transform: uppercase;
  }

  /* ==== FORM ==== */

  .contact-form {
    justify-self: right;
    z-index: 2;
    margin-top: $space-l;
    right: 20%;
    border-radius: $default;
    background: $white;
    padding: 40px;
    width: 400px;
    height: auto;
    box-shadow: 10px 43px 68px #00000012;

    @media screen and (max-width: 992px) {
      justify-self: center;
      width: 100%;
      max-width: 516px;
      margin-top: $space-xl;
    }

    @media screen and (max-width: 600px) {
      margin-top: $space-l;
    }

    h3 {
      margin-bottom: $space-s;
    }

    > div {
      position: relative;
      overflow: hidden;
      margin-bottom: $space-s;
    }

    .form-field {
      width: 100%;
      border: 0;
      border-bottom: 2px solid $primaryColor;
      outline: 0;
      background: transparent;
      padding: 20px 0 10px 0;
      font-size: $paragraph_small;
      transition: border-color 0.2s;
      &::placeholder {
        color: $secondaryColor;
      }

      &:placeholder-shown ~ .form-label {
        font-size: $paragraph_small;
        cursor: text;
        top: 20px;
      }
    }

    .form-label {
      position: absolute;
      top: 0;
      display: block;
      font-size: $paragraph_xsmall;
      color: $titleColor;
    }

    .form-field:focus {
      ~ .form-label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: $paragraph_xsmall;
        color: $primaryColor;
        font-weight: 700;
      }
      &::placeholder {
        color: transparent;
      }
      padding: 20px 0 10px 0;
      font-weight: 700;
      border-bottom: 2px solid $primaryColor;
    }

    .form-field {
      &:required,
      &:invalid {
        box-shadow: none;
      }
    }
  }
}

/* ==== GT ==== */
.gt {
  position: relative;
  background: $white;

  img {
    width: 400px;
    height: auto;
    object-fit: cover;
    z-index: 1;
    object-position: top;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &__sub-title {
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__text {
    margin-bottom: $space-xl;
    max-width: 580px;
    opacity: 0.8;
  }

  &__right {
    justify-self: left;
  }

  &__left {
    justify-self: left;

    @media screen and (max-width: 992px) {
      justify-self: center;
      padding: $space-xl $space-l;
      grid-template-columns: 1fr;
    }

    img {
      border-radius: $default;
    }
  }
}
</style>
