<template>
  <main>

    <!--===== GT HEAD =====-->
    <section class="head">
      <div id="darker"></div>
      <img src="~/assets/images/gt-head.jpg" alt />
      <div class="head__container bg-grid">
        <div class="head__title-holder" data-aos="zoom-in" data-aos-offset="0">
          <h1 class="head__title">ÉLD ÁT TE IS A TTK-S GÓLYATÁBORT</h1>
          <div class="head__iframe-holder" data-aos="zoom-in">
            <iframe
              src="https://www.youtube.com/embed/yu6XloeTMSA?autoplay=1&showinfo=0"
              frameborder="0"
              allowfullscreen="allowfullscreen"
              mozallowfullscreen="mozallowfullscreen"
              msallowfullscreen="msallowfullscreen"
              oallowfullscreen="oallowfullscreen"
              webkitallowfullscreen="webkitallowfullscreen"
            ></iframe>
          </div>
        </div>
      </div>
    </section>

    <!--===== TEXT1 =====-->
    <section class="text">
      <div data-aos="fade-up" class="text__container bg-grid">
        <h2 class="text__title">Miért is érdemes jelentkezned?</h2>
        <h4 class="text__content">
          A Gólyatábor a legjobb lehetőség, hogy megünnepeljétek egyetemi
          életetek kezdetét. A táborban találkozhatsz a seniorjaiddal, akik
          segítenek bármilyen egyetemmel kapcsolatos kérdés esetén! Mindent
          megtudhatsz, amit tudni szeretnél a vizsgákról, a Neptunról, az
          előadásokról, oktatókról, kollégiumokról... Nem tudunk eléggé
          bátorítani arra, hogy gyere el velünk Sikondára!
        </h4>
      </div>
    </section>

    <!--===== GT CARDS =====-->
    <section class="cards">
      <img class="bg" src="~/assets/svg/SVG7.svg" />
      <div class="cards__container bg-grid">
        <div class="cards__card cards-grid">
          <div class="cards__img-holder">
            <img src="~/assets/images/gt/gt3.jpg" alt />
          </div>
          <div class="cards__text-holder dark">
            <img class="box-img" src="~/assets/svg/handshake.svg" alt />
            <h3 class="cards__title">Új barátokat szerezhetsz</h3>
            <p class="cards__text">
              Megismerkedhetsz a csoporttársaiddal és évfolyamtársaiddal, itt
              válhattok igazán jó csapattá még az első előadásotok előtt
            </p>
          </div>
        </div>
        <div class="cards__card cards-grid-reverse">
          <div class="cards__text-holder">
            <img class="box-img" src="~/assets/svg/pinata.svg" alt />
            <h3 class="cards__title">Kiléphetsz a komfortzónádból</h3>
            <p class="cards__text">
              A Gólyátábor kizökkent a hétköznapok világából és új élményekkel
              segít felkészíteni az egyetemi élet megpróbáltatásaira.
            </p>
          </div>
          <div class="cards__img-holder">
            <img src="~/assets/images/gt/gt2.jpg" alt />
          </div>
        </div>
        <div class="cards__card cards-grid">
          <div class="cards__img-holder">
            <img src="~/assets/images/gt/gt1.jpg" alt />
          </div>
          <div class="cards__text-holder dark">
            <img class="box-img" src="~/assets/svg/graduate.svg" alt />
            <h3 class="cards__title dark">Többet megtudhatsz az egyetemről</h3>
            <p class="cards__text dark">
              A Seniorjaid segítenek bármilyen egyetemmel kapcsolatos kérdés
              esetén és minden kérdést feltehetsz kötetlenül, baráti
              környezetben
            </p>
          </div>
        </div>
        <div class="cards__card cards-grid-reverse">
          <div class="cards__text-holder">
            <img class="box-img" src="~/assets/svg/officeman.svg" alt />
            <h3 class="cards__title">Óriási előnyökre tehetsz szert</h3>
            <p class="cards__text">
              Az egyetemen számtalan ismeretlen vizsga, előadás vár, melyekről
              rengeteg mindenent megtudhatsz a GT-ben és előnnyel vághatsz bele
              az első félévedbe.
            </p>
          </div>
          <div class="cards__img-holder">
            <img src="~/assets/images/gt/gt5.jpg" alt />
          </div>
        </div>

        <div class="cards__card cards-grid">
          <div class="cards__img-holder">
            <img src="~/assets/images/gt/gt4.jpg" alt />
          </div>
          <div class="cards__text-holder dark">
            <img class="box-img" src="~/assets/svg/smilesunglass.svg" alt />
            <h3 class="cards__title">Egy hatalmasat bulizhatsz</h3>
            <p class="cards__text">
              Nem utolsó sorban, egy hatalmasat bulizhatsz az ország népszerű
              lemezlovasai körében számtalan zenei stílusban.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--===== PROMO =====-->
    <section class="promo">
      <div
        class="promo__container promo-grid"
        data-aos="fade-up"
        data-aos-offset="400"
      >
        <div class="promo__left">
          <h4 class="promo__sub-title">Tapasztald meg Te is</h4>
          <h2 class="promo__title">Nézd meg a Promo viedónkat</h2>
          <p class="promo__text">
            Tapasztald meg Te is a sörnyitás élményét egy gyönyörű világban,
            méghozzá a Gólyatáborban.
          </p>
        </div>
        <div class="promo__right">
          <iframe
            src="https://www.youtube.com/embed/26oGwE8MvJ8?autoplay=0&showinfo=0"
            allowfullscreen="allowfullscreen"
            mozallowfullscreen="mozallowfullscreen"
            msallowfullscreen="msallowfullscreen"
            oallowfullscreen="oallowfullscreen"
            webkitallowfullscreen="webkitallowfullscreen"
            frameborder="0"
          ></iframe>
        </div>
      </div>
    </section>

    <!--===== AFTERMOVIE =====-->
    <section class="aftermovie">
      <img class="bg" src="~/assets/svg/SVG6.svg" />

      <div data-aos="fade-up" class="aftermovie__container bg-grid">
        <h2 class="aftermovie__title-main">Gólyatábor Aftermoviek</h2>
        <div class="aftermovie__container">
          <div class="aftermovie__last-holder">
            <div class="aftermovie__image-holder">
              <iframe
                src="https://www.youtube.com/embed/yu6XloeTMSA?autoplay=0&showinfo=0"
                frameborder="0"
                allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen"
                msallowfullscreen="msallowfullscreen"
                oallowfullscreen="oallowfullscreen"
                webkitallowfullscreen="webkitallowfullscreen"
              ></iframe>
            </div>
            <div class="aftermovie__text-holder" data-aos="fade-left">
              <h3 class="aftermovie__title">Ilyen volt veletek 2021-ben</h3>
              <p class="aftermovie__text">
                Tűzforró nyár és rengeteg egyetemi éveit kezdő lelkes Gólya
                találkozása Sikonda évről évre csodálatosabb festői
                környezetben. Napokon át tartó őrületes bulizás, rengeteg boldog
                gólya és eszméletlen hangulat a tábor minden pillanatában.
                Köszönjük, hogy ismételten ennyien eljöttektek a
                gólyatáborunkba.
                <br /><br />
                <i
                  >*A felvételeinkről évről évre a
                  <a href="https://kerekesfoto.hu/" target="_blank"
                    >Kerekes Fotó</a
                  >
                  csapata gondoskodik.</i
                >
              </p>
            </div>
          </div>
          <div class="aftermovie__movies-holder">
            <div class="aftermovie__movie">
              <iframe
                src="https://www.youtube.com/embed/5593xJ5SqvA?autoplay=0&showinfo=0"
                frameborder="0"
                allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen"
                msallowfullscreen="msallowfullscreen"
                oallowfullscreen="oallowfullscreen"
                webkitallowfullscreen="webkitallowfullscreen"
              ></iframe>
              <h4>Aftermovie 2019</h4>
            </div>
            <div class="aftermovie__movie">
              <iframe
                src="https://www.youtube.com/embed/6wqGAsSu7JE?autoplay=0&showinfo=0"
                frameborder="0"
                allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen"
                msallowfullscreen="msallowfullscreen"
                oallowfullscreen="oallowfullscreen"
                webkitallowfullscreen="webkitallowfullscreen"
              ></iframe>
              <h4>Aftermovie 2017</h4>
            </div>
            <div class="aftermovie__movie">
              <iframe
                src="https://www.youtube.com/embed/kRg9JoRrIDw?autoplay=0&showinfo=0"
                frameborder="0"
                allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen"
                msallowfullscreen="msallowfullscreen"
                oallowfullscreen="oallowfullscreen"
                webkitallowfullscreen="webkitallowfullscreen"
              ></iframe>
              <h4>Aftermovie 2016</h4>
            </div>
            <div class="aftermovie__movie">
              <iframe
                src="https://www.youtube.com/embed/knb-ABm5QtY?autoplay=0&showinfo=0"
                frameborder="0"
                allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen"
                msallowfullscreen="msallowfullscreen"
                oallowfullscreen="oallowfullscreen"
                webkitallowfullscreen="webkitallowfullscreen"
              ></iframe>
              <h4>Aftermovie 2015</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--===== PASS =====-->
    <!-- <section class="pass">
      <div class="pass__container promo-grid">
        <div class="pass__left" data-aos="fade-right" data-aos-delay="400" data-aos-offset="400">
          <img src="~/assets/images/gt/gera.jpg" alt="">
        </div>
        <div class="pass__right" data-aos="fade-left" data-aos-delay="400" data-aos-offset="450">
          <h4 class="pass__sub-title">HA SIKERESEN JELENTKEZTÉL A GT-BE</h4>
          <h2 class="pass__title">Készítsd el a Gólya Passod</h2>
          <p class="pass__text">Sikeresen jelnetkeztél a Gólyatáborba? Nincs más dolgod, mint hogy elkészíted a Gólya passod.</p>
          <Button class="pass__button" type="cta">Irány a Pass generátor</Button>

        </div>
      </div>
    </section>-->

    <!--===== QUOTE =====-->
    <!-- <section class="quote">
      <div class="quote__container quote-grid">
        <div class="quote__left">
          <h1>"</h1>
          <p class="quote__text">Az életem egyik legjobb döntése volt, hogy annak idején elmentem a GT-be. A gólyatáborban szerzett kapcsolataim nagyban hozzájárultak az egyetem eltöltött éveim sikereihez. Csak bátorítnai tudok mindenkit a részvételre.</p>
          <h3>Geresdi Bence (Szervező)</h3>
        </div>
        <div class="quote__right">
          <img src="~/assets/images/gt/gera.jpg" alt="">
        </div>
      </div>
    </section>-->

    <!--===== QUOTE =====-->
    <!-- <section class="quote">
      <div class="quote__container quote-grid-reverse">
        <div class="quote__right">
          <img src="~/assets/images/gt/bumbi.jpg" alt="">
        </div>
        <div class="quote__left" >
          <h1>"</h1>
          <p class="quote__text">Ha tehetném bármikor visszamennék a Gólyatáborba. Vivamus elementum molestie orci sed convallis. Cras at ligula id nulla pulvinar semper. Ut scelerisque pharetra nisl non efficitur.</p>
          <h3>Múri Balázs (Szervező)</h3>
        </div>
      </div>
    </section>-->

    <!--===== QUOTE =====-->
    <!-- <section class="quote">
      <div class="quote__container quote-grid">
        <div class="quote__left">
          <h1>"</h1>
          <p class="quote__text">Az életem egyik legjobb döntése volt, hogy annak idején elmentem a GT-be. A gólyatáborban szerzett kapcsolataim nagyban hozzájárultak az egyetem eltöltött éveim sikereihez. Csak bátorítnai tudok mindenkit a részvételre.</p>
          <h3>Geresdi Bence (Szervező)</h3>
        </div>
        <div class="quote__right">
          <img src="~/assets/images/gt/gera.jpg" alt="">
        </div>
      </div>
    </section>-->

    <!--===== QUOTE =====-->
    <!-- <section class="quote">
      <div class="quote__container quote-grid-reverse">
        <div class="quote__right">
          <img src="~/assets/images/gt/bumbi.jpg" alt="">
        </div>
        <div class="quote__left" >
          <h1>"</h1>
          <p class="quote__text">Ha tehetném bármikor visszamennék a Gólyatáborba. Vivamus elementum molestie orci sed convallis. Cras at ligula id nulla pulvinar semper. Ut scelerisque pharetra nisl non efficitur.</p>
          <h3>Múri Balázs (Szervező)</h3>
        </div>
      </div>
    </section>-->
  </main>
</template>
<script>
import Button from "~/components/buttons/Button";

export default {};
</script>
<style lang="scss" scoped>
.bg {
  position: absolute;
  width: 100%;
  height: auto;

  @media screen and (max-width: 992px) {
    display: none;
  }
}
main {
  background: $green;
}

// GRID
.bg-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  padding: $space-xl-head $space-l;
  margin: 0 auto;
  grid-template-columns: 1fr;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0 $space-m;
  }
}

.cards-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-areas: "img text";

  @media screen and (max-width: 768px) {
    width: 100%;
    grid-template-areas:
      "img"
      "text";
  }
}

.cards-grid-reverse {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-areas: "text img";

  @media screen and (max-width: 768px) {
    width: 100%;
    grid-template-areas:
      "img"
      "text";
  }
}

.promo-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  padding: $space-xl-head $space-l;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
  }

  @media screen and (max-width: 700px) {
    padding: $space-xl $space-m;
    grid-template-columns: 1fr;
    img {
      display: none;
    }
  }
}

.quote-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  padding: $space-l;
  grid-template-areas: "left right";

  @media screen and (max-width: 992px) {
    padding: $space-l;
  }

  @media screen and (max-width: 700px) {
    padding: $space-m;
    grid-template-columns: 1fr;

    img {
      display: none;
    }

    grid-template-areas:
      "left"
      "right";
  }
}

.quote-grid-reverse {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  padding: $space-l;
  grid-template-areas: "right left";

  @media screen and (max-width: 992px) {
    padding: $space-l;
  }

  @media screen and (max-width: 700px) {
    padding: $space-m;
    grid-template-columns: 1fr;

    img {
      display: none;
    }

    grid-template-areas:
      "left"
      "right";
  }
}

/* ==== PAGE HEAD ==== */
.head {
  position: relative;

  #darker {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent
      linear-gradient(40deg, #000000 0%, #00000000 100%, #545454cc 100%) 0% 0%
      no-repeat padding-box;
    z-index: 2;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    object-position: top;
  }

  &__container {
    position: relative;
    padding-top: 80px;
    height: 600px;

    @media screen and (max-width: 992px) {
      height: 400px;
    }
  }

  &__title-holder {
    position: relative;
    z-index: 4;
    text-align: center;
    align-self: flex-start;
  }

  &__title {
    color: $secondaryColor;
    margin-top: $space-xl-head;
    margin-bottom: $space-m;
    z-index: 4;
  }

  &__iframe-holder {
    position: relative;
    width: 100%;
    margin: $space-xl-head auto;

    iframe {
      position: absolute;
      left: 0;
      width: 100%;
      height: 500px;
      border-radius: $default;
      box-shadow: 10px 43px 68px #00000012;

      @media screen and (max-width: 992px) {
        height: 300px;
      }

      @media screen and (max-width: 600px) {
        height: 200px;
        margin-top: $space-xl;
      }
    }
  }
}

/* ==== TEXT1 ==== */
.text {
  padding-top: 300px;
  @media screen and (max-width: 992px) {
    padding-top: 300px;
  }

  @media screen and (max-width: 600px) {
    padding-top: 200px;
  }

  &__container {
    max-width: 1166px;
    margin: 0 auto;
    padding: 0 $space-xl;
    color: $white;

    @media screen and (max-width: 992px) {
      padding: 0 50px;
    }

    @media screen and (max-width: 600px) {
      padding: $space-m $space-m;
    }
  }

  &__title {
    text-align: center;
  }

  &__content {
    font-family: "Montserrat";
    margin-top: $space-m;
    text-align: center;
    opacity: 0.8;
  }
}

/* ==== CARDS ==== */
.cards {
  padding: $space-xxl 0 180px 0;

  @media screen and (max-width: 992px) {
    padding: $space-xl 0;
  }

  @media screen and (max-width: 600px) {
    padding: 0;
  }

  &__container {
    max-width: 1166px;
    margin: 0 auto;
    padding: 0 $space-l;

    @media screen and (max-width: 992px) {
      padding: 0 $space-l;
    }

    @media screen and (max-width: 600px) {
      padding: 0;
    }
  }

  &__card {
    z-index: 5;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 780px) {
      grid-template-columns: 1fr;
    }
  }

  .dark {
    color: $secondaryColor;
    background: $dark-blue;
  }

  &__img-holder {
    grid-area: img;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text-holder {
    grid-area: text;
    text-align: center;
    color: $primaryColor;
    background: $white;
    padding: $space-xl;

    img {
      width: 80px;
    }

    @media screen and (max-width: 600px) {
      padding: $space-xl $space-m;
    }
  }

  &__title {
    margin-bottom: $space-s;
  }

  &__text {
    opacity: 0.8;
  }
}

/* ==== AFTERMOVIE ==== */
.aftermovie {
  background: $yellow;
  padding: $space-l 0;

  @media screen and (max-width: 800px) {
    padding: $space-l 0 150px 0;
  }

  &__container {
    max-width: 1166px;
    margin: 0 auto;
  }

  &__title-main {
    text-align: center;
    margin-bottom: $space-xl;
    @media screen and (max-width: 1200px) {
      text-align: left;
    }
  }

  &__last-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;

    iframe {
      border-radius: $default;
    }

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
  }

  &__image-holder {
    height: 100%;

    iframe {
      width: 530px;
      height: 315px;

      @media screen and (max-width: 700px) {
        width: 100%;
        height: 250px;
      }
    }
  }

  &__text-holder {
    color: $primaryColor;
    padding: $space-s $space-xl;

    @media screen and (max-width: 1200px) {
      padding: $space-l 0 0 0;
    }

    @media screen and (max-width: 700px) {
      padding: 0;
      margin-top: $space-l;
    }
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__text {
    opacity: 0.8;

    a {
      text-decoration: underline;
    }
  }

  &__movies-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $space-l;
    max-width: 1166px;

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: $space-xl;
    }

    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
      grid-gap: $space-xl;
    }
  }

  &__movie {
    width: 100%;
    height: 150px;
    margin-top: $space-xl;

    @media screen and (max-width: 1200px) {
      height: 100%;
    }

    iframe {
      width: 100%;
      height: 100%;
      border-radius: $default;
    }

    h4 {
      margin-top: $space-xs;
      text-transform: uppercase;
    }
  }
}

/* ==== PROMO ==== */
.promo {
  position: relative;
  background: $white;

  iframe {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__sub-title {
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__text {
    margin-bottom: $space-xl;
    max-width: 580px;
    opacity: 0.8;
  }

  &__left {
    padding-right: $space-xl;
  }

  &__right {
    width: 100%;
    padding-left: $space-l;

    iframe {
      border-radius: $default;
    }

    @media screen and (max-width: 700px) {
      padding: 0;
      height: 250px;
    }
  }
}

/* ==== PASS ==== */

.pass {
  position: relative;
  background: $bg-gray;

  img {
    width: 350px;
    height: auto;
    object-fit: cover;
    z-index: 1;
    object-position: top;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &__sub-title {
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__text {
    margin-bottom: $space-xl;
    max-width: 580px;
    opacity: 0.8;
  }

  &__right {
    justify-self: left;
  }

  &__left {
    justify-self: left;

    @media screen and (max-width: 992px) {
      justify-self: center;
      padding: $space-xl $space-l;
      grid-template-columns: 1fr;
    }

    img {
      border-radius: $default;
    }
  }
}

/* ==== QUOTE ==== */
.quote {
  position: relative;
  background: $white;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $default;
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__text {
    margin-bottom: $space-xl;
    max-width: 580px;
    opacity: 0.8;
    line-height: 1.6;
    font-style: italic;
  }

  &__left {
    grid-area: left;
    padding: $space-m;
    align-self: center;

    @media screen and (max-width: 600px) {
      padding: $space-s 0;
    }
  }

  &__right {
    grid-area: right;
    padding: $space-m;
    width: 100%;

    @media screen and (max-width: 600px) {
      padding: $space-s 0;
    }
  }
}
</style>
