<template>
  <main>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div
      class="fb-customerchat"
      attribution="setup_tool"
      page_id="150123858380403"
      logged_in_greeting="Szia! Miben segíthetünk?"
      logged_out_greeting="Szia! Miben segíthetünk?"
    ></div>

    <!--===== LANDING HEAD =====-->
    <section class="head">
      <div class="head__container head-grid">
        <div class="head__left">
          <div
            data-aos="fade-right"
            data-aos-delay="600"
            class="head__title-container"
          >
            <div>
              <h1>{{ $t('index.title') }}</h1>
              <p>{{ $t('index.subtitle') }}</p>
            </div>
            <div class="head__icon-container">
              <a href="https://www.instagram.com/ptettkhok" target="_blank">
                <div class="contactIcon">
                  <font-awesome-icon
                    class="icon"
                    :icon="['fab', 'instagram']"
                  />
                </div>
              </a>
              <a href="https://www.facebook.com/PTETTKHOK/" target="_blank">
                <div class="contactIcon">
                  <font-awesome-icon
                    class="icon"
                    :icon="['fab', 'facebook-f']"
                  />
                </div>
              </a>
              <a
                href="https://www.youtube.com/channel/UCxmGwIv9AHv3Rth82iPnr_Q"
                target="_blank"
              >
                <div class="contactIcon">
                  <font-awesome-icon class="icon" :icon="['fab', 'youtube']" />
                </div>
              </a>
            </div>
            <div
              data-aos="fade-right"
              data-aos-delay="800"
              data-aos-offset="0"
              class="head__hashtags"
            >
              <button>#Együtt</button>
              <button>#Veletek</button>
              <button>#Értetek</button>
            </div>
          </div>
        </div>
        <div class="head__right">
          <div id="darker"></div>
          <video
            src="~/assets/videos/gtcutreduced.mp4"
            muted
            loop
            autoplay
            playsinline
          ></video>
        </div>
      </div>
    </section>

    <!--===== LANDING EVENTS =====-->
    <section class="events">
      <img
        class="events__bg"
        data-aos="zoom-out-up"
        data-aos-delay="300"
        src="~/assets/svg/SVG3.svg"
        alt
      />
      <div class="events__container events-grid">
        <div class="events__left">
          <img src="~/assets/images/events.png" />
        </div>
        <div class="events__right">
          <h1>Vegyél részt az eseményeinken</h1>
          <p class="text title-text">
            A TTK HÖK rendkívül színes rendezvénykínálata mindenki számára
            tartogat valami örömtelit.
          </p>
          <nuxt-link to="/events">
            <Button class="head__button" type="cta">Az eseményekhez</Button>
          </nuxt-link>
        </div>
      </div>
    </section>

    <!--===== LANDING SERVICES =====-->
    <section class="services">
      <div class="services__container services-grid">
        <div class="services__left">
          <div class="services__title-container">
            <h1 class="services__title">Keress minket bátran</h1>
            <p class="services__text title-text">
              Hallgatókra szabott szolgáltatásainkkal mindent megteszünk a
              zökkentőmentes egyetemi életetek érdekében.
            </p>
          </div>
          <div class="services__box-holder">
            <div data-aos="fade-right" data-aos-offset="300" class="box">
              <img class="box-img" src="~/assets/svg/officeman.svg" alt />
              <h3 class="box-title">Pályázatok</h3>
              <p class="box-text title-text">
                Bármilyen felmerülő pályázati kérdéssel kapcsolatban segítünk.
              </p>
            </div>
            <div data-aos="fade-right" data-aos-offset="330" class="box">
              <img class="box-img" src="~/assets/svg/calendar.svg" alt />
              <h3 class="box-title">Rendezvények</h3>
              <p class="box-text title-text">
                Vegyél részt rendezvényeinken és légy részese a közösségnek.
              </p>
            </div>
            <div data-aos="fade-right" data-aos-offset="360" class="box">
              <img class="box-img" src="~/assets/svg/school.svg" alt />
              <h3 class="box-title">Tanulmányi ügyek</h3>
              <p class="box-text title-text">
                Egyetemi tanulmányaiddal kapcsolatban rendelkezésre állunk.
              </p>
            </div>
            <div data-aos="fade-right" data-aos-offset="390" class="box">
              <img class="box-img" src="~/assets/svg/bubble.svg" alt />
              <h3 class="box-title">Aktualitások</h3>
              <p class="box-text title-text">
                Tudj meg többet az egyetemen történő aktuális dolgokról.
              </p>
            </div>
          </div>
          <nuxt-link to="/services">
            <Button class="head__button" type="cta">A szolgáltatásokhoz</Button>
          </nuxt-link>
        </div>
        <div class="services__right">
          <img
            data-aos="fade-left"
            data-aos-delay="500"
            data-aos-offset="300"
            src="~/assets/images/ptettk.jpg"
            alt
          />
        </div>
      </div>
    </section>

    <!--===== LANDING ABOUT =====-->
    <section class="about">
      <img
        class="about__bg"
        data-aos-delay="400"
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        src="~/assets/svg/SVG6.svg"
        alt
      />
      <div class="about__container about-grid">
        <img src="~/assets/svg/about.svg" alt />
        <h1 class="about__title">A mi csapatunk</h1>
        <p class="about__text title-text">
          Mi vagyunk a Pécsi Tudományegyetem Természettudományi Karának
          Hallgatói Önkormányzata.
        </p>
        <nuxt-link to="/about">
          <Button class="about__button" type="cta">Megnézem a tagokat</Button>
        </nuxt-link>
      </div>
    </section>

    <!--===== LANDING CALCULATOR =====-->
    <section class="calculator">
      <div class="calculator__container calculator-grid">
        <h1 class="about__title">
          Kalkuláld ki egyszerűen a tanulmányi átlagodat
        </h1>
        <p class="about__text title-text">
          Az átlag kalkulátor segítségével kikalkulálhatod a Korrigált
          kreditindexedet, Súlyozott átlagodat és Kreditindexedet. Tervezz előre
          a kreditekkel, hogy ne érjen meglepetés!
        </p>
        <nuxt-link to="/calculator">
          <Button
            data-aos="fade-up"
            data-aos-offset="200"
            class="head__button"
            type="cta"
            >Tovább az átlag kalkulátorhoz</Button
          >
        </nuxt-link>
        <img data-aos="zoom-out-up" src="~/assets/images/calculator.png" alt />
      </div>
    </section>

    <!--===== LANDING GT =====-->
    <section class="gt">
      <div class="gt__container gt-grid">
        <div class="gt__right">
          <div id="darker"></div>
          <video
            src="~/assets/videos/gtcut2reduced.mp4"
            muted
            loop
            autoplay
            playsinline
          ></video>
        </div>
        <div class="gt__left">
          <div
            data-aos="fade-left"
            data-aos-offset="400"
            class="gts__title-container"
          >
            <h1 class="gt__title">
              Felvettek a pécsi TTK-ra? Irány a Gólyatábor!
            </h1>
            <p class="gt__text title-text">
              A Gólyatábor a legjobb lehetőség, hogy megünnepeld egyetemi életed
              kezdetét.
            </p>
          </div>
          <div class="gt__box-holder">
            <div data-aos="fade-left" data-aos-offset="300" class="box">
              <img class="box-img" src="~/assets/svg/handshake.svg" alt />
              <h3 class="box-title">Szerezz új barátokat</h3>
              <p class="box-text title-text">
                Találd meg a hozzád illő szaktársakat és lépjétek át együtt az
                első megpróbálatásokat.
              </p>
            </div>
            <div data-aos="fade-left" data-aos-offset="300" class="box">
              <img class="box-img" src="~/assets/svg/smilesunglass.svg" alt />
              <h3 class="box-title">Bulizz egy hatalmasat</h3>
              <p class="box-text title-text">
                Népszerű fellépők várnak számos műfajban fergetes hangulatot
                varázsolva a gólyáknak.
              </p>
            </div>
            <div data-aos="fade-left" data-aos-offset="300" class="box">
              <img class="box-img" src="~/assets/svg/pinata.svg" alt />
              <h3 class="box-title">Lépj ki a komfortzónádból</h3>
              <p class="box-text title-text">
                Izgalmas feladatok várnak rád a GT-ben, vágj bele magabisztosan
                az első szemeszteredbe.
              </p>
            </div>
            <div data-aos="fade-left" data-aos-offset="300" class="box">
              <img class="box-img" src="~/assets/svg/graduate.svg" alt />
              <h3 class="box-title">Tudj meg többet az egyetemről</h3>
              <p class="box-text title-text">
                A Seniorjaid kötetlenül választ adnak minden felmerülő
                kérdésedre
              </p>
            </div>
          </div>
          <nuxt-link to="/gt">
            <Button class="head__button" type="cta">Irány a Gólyatábor</Button>
          </nuxt-link>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import Button from "~/components/buttons/Button";
import en from '../locales/en.json'
import hu from '../locales/hu.json'

export default {
  languages: {
    en,
    hu
  },
  data() {
    return {

    }
  },
  components: {
    Button,
  }
};
</script>
<style lang="scss" scoped>
a {
  text-decoration: none;
}

/* ==== SECTION GRIDS ==== */
.head-grid {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  padding-top: 80px;

  /* ==== MEDIA QUERIES ==== */
  @media screen and (max-width: 1024px) {
    padding-top: 60px;
  }

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    padding-top: 60px;
  }
}

.events-grid {
  display: grid;
  width: 100%;
  margin: 0 auto;
  max-width: 1166px;
  grid-template-columns: 1fr 1fr;

  /* ==== MEDIA QUERIES ==== */
  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.services-grid {
  display: grid;
  width: 100%;
  max-width: 1166px;
  margin: 0 auto;
  grid-template-columns: 2.5fr 1fr;

  /* ==== MEDIA QUERIES ==== */
  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.about-grid {
  display: grid;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 80px;
}

.calculator-grid {
  width: 100%;
  max-width: 1166px;
  margin: 0 auto;
}

.gt-grid {
  display: grid;
  width: 100%;
  max-width: 1166px;
  margin: 0 auto;
  grid-template-columns: 1fr;

  /* ==== MEDIA QUERIES ==== */
  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

/* ==== LANDING HEAD ==== */
.head {
  position: relative;

  &__container {
    height: 700px;
  }

  &__left {
    padding: 90px $space-l $space-l $space-l;
    background: $yellow;

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 992px) {
      padding: $space-xxl $space-l;
      z-index: 600;
      background: transparent;
      color: $white;
    }

    @media screen and (max-width: 600px) {
      padding: $space-xl $space-l;
    }
  }

  &__right {
    position: relative;

    #darker {
      position: absolute;
      width: 100%;
      height: 620px;
      background: #000;
      opacity: 0.3;
      z-index: 2;

      /* ==== MEDIA QUERIES ==== */
      @media screen and (max-width: 992px) {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        opacity: 0.4;
      }
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;

      /* ==== MEDIA QUERIES ==== */
      @media screen and (max-width: 992px) {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
      }
    }
  }

  &__title-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 500px;
    float: right;

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: 992px) {
      float: left;
      width: 100%;
      max-width: none;
    }

    h1 {
      margin-bottom: $space-m;
      font-family: "MontserratExtraBold";
    }

    p {
      line-height: 1.6;
      opacity: 0.8;
    }

    a {
      outline: none;
    }

    .contactIcon {
      width: 45px;
      height: 45px;
      border-radius: $round;
      background-color: $primaryColor;
      color: $white;
      display: flex;
      align-items: center;
      flex-flow: column;
      justify-content: space-around;
      cursor: pointer;
      margin-right: $space-s;

      .icon {
        color: $white;
        font-size: $heading_4;
      }

      &:hover {
        background: $white;
        transition: 0.2s;
        color: $primaryColor;
        .icon {
          color: $primaryColor;
        }
      }
    }
  }

  &__icon-container {
    padding-top: $space-m;
    display: flex;
  }

  &__hashtags {
    float: right;
    width: 500px;
    display: flex;
    margin-top: $space-xl;

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 992px) {
      float: left;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-gap: $space-s;
      width: 100%;
      margin-top: $space-xl;
    }

    @media screen and (max-width: 600px) {
      float: left;
      width: 50%;
      margin-top: $space-m;
    }

    button {
      padding: 16px 24px;
      background: $primaryColor;
      color: $white;
      outline: 0;
      border: none;
      font-size: $paragraph_xsmall;
      letter-spacing: 1px;
      margin-right: $space-m;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

/* ==== LANDING EVENTS ==== */
.events {
  position: relative;
  background: $white;
  z-index: 2;

  &__bg {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__container {
    padding: $space-xl 0;
  }

  &__left {
    place-self: center;
    padding: $space-l 110px $space-l $space-l;
    z-index: 5;

    img {
      width: 100%;
    }

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 992px) {
      padding: $space-l;

      img {
        max-width: 400px;
      }
    }

    @media screen and (max-width: 600px) {
      padding: $space-m;
    }
  }

  &__right {
    place-self: center;
    padding: 0 $space-l;
    z-index: 5;

    h1 {
      margin-bottom: $space-s;
    }

    p {
      margin-bottom: $space-m;
      opacity: 0.8;
    }

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 992px) {
      padding: $space-l;
      text-align: center;
    }

    @media screen and (max-width: 600px) {
      padding: $space-m;
    }
  }
}

/* ==== LANDING SERVICES ==== */
.services {
  position: relative;
  background: $green;
  z-index: 2;

  &__container {
    padding: $space-xxl 0;

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 992px) {
      padding: $space-xl 0 0 0;
    }
  }

  &__left {
    color: $white;
    place-self: right;
    max-width: 900px;
    padding: 50px $space-l;

    h1 {
      margin-bottom: $space-s;
    }

    p {
      margin-bottom: $space-m;
      opacity: 0.8;
    }

    img {
      width: 50px;
    }

    button {
      margin-top: $space-l;
    }

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 600px) {
      padding: $space-m $space-m $space-xl $space-m;
    }

    @media screen and (max-width: 992px) {
      place-self: center;
    }
  }

  &__title-container {
    h2 {
      margin-bottom: $space-m;
    }

    p {
      line-height: 1.6;
      opacity: 0.8;
    }
  }

  &__box-holder {
    max-width: 800px;
    display: grid;
    margin-top: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      margin-top: $space-l;
    }

    .box h3 {
      margin-bottom: $space-s;
    }
  }

  &__right {
    place-self: left;

    #services-darker {
      position: absolute;
      width: 100%;
      max-width: 1000px;
      height: 100%;
      max-height: 745px;
      background: #000;
      opacity: 0.1;
      z-index: 2;
      border-radius: $default;
    }

    img {
      height: 100%;
      max-height: 745px;
      position: absolute;
      width: 100%;
      max-width: 800px;
      object-fit: cover;
      object-position: center;
      border-radius: $default;
    }

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 992px) {
      img {
        margin-top: $space-m;
        width: 100%;
      }
    }
  }
}

/* ==== LANDING ABOUT ==== */

.about {
  z-index: 2;
  position: relative;
  background: $white;

  &__bg {
    position: absolute;
    width: 100%;
    height: auto;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__container {
    padding: $space-xxl 0;

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 992px) {
      padding: $space-xxl $space-l;
    }

    @media screen and (max-width: 600px) {
      padding: $space-xl $space-xs;
    }

    img {
      margin: 0 auto 50px auto;
      display: block;
    }

    h1 {
      margin-bottom: $space-s;
      text-align: center;
      z-index: 5;
    }

    p {
      margin-bottom: $space-m;
      opacity: 0.8;
      text-align: center;
    }

    a {
      z-index: 5;
    }

    button {
      display: block;
      margin: 0 auto;
    }
  }
}

/* ==== LANDING CALCULATOR ==== */
.calculator {
  background: $blue;
  color: $white;
  z-index: 2;
  position: relative;
  margin-bottom: 250px;

  /* ==== MEDIA QUERIES ==== */
  @media screen and (max-width: 992px) {
    margin-bottom: 0;
    display: none;
    padding: 0 $space-m;
  }

  &__container {
    padding: $space-xxl $space-l;
    height: 750px;
    margin: 0 auto;

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 992px) {
      padding: $space-xxl $space-l;
      height: auto;
      img {
        display: none !important;
      }
    }

    @media screen and (max-width: 600px) {
      padding: $space-xl $space-m;
    }

    h1 {
      margin-bottom: $space-m;
      text-align: center;
    }

    p {
      margin: $space-m auto $space-m auto;
      opacity: 0.8;
      text-align: center;
      max-width: 800px;
    }

    button {
      display: block;
      margin: 0 auto;
    }

    img {
      width: 80%;
      margin: 30px auto 50px auto;
      display: block;
      z-index: 3;
      box-shadow: 10px 43px 68px #00000012;
      border-radius: $default;
    }
  }
}

/* ==== LANDING GT ==== */
.gt {
  position: relative;
  background: $white;
  z-index: 2;

  &__container {
    color: $primaryColor;

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 992px) {
      padding: $space-xl 0;
    }
    @media screen and (max-width: 600px) {
      padding: $space-l 0;
    }
  }

  &__left {
    place-self: center;
    max-width: 1166px;
    padding: $space-xl $space-l;
    z-index: 2;
    color: $white;

    h1 {
      margin-bottom: $space-s;
    }

    p {
      margin-bottom: $space-m;
      opacity: 0.8;
    }

    img {
      width: 50px;
    }

    button {
      margin-top: 0;
    }

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 992px) {
      padding: $space-l;
      color: $white !important;
    }

    @media screen and (max-width: 600px) {
      padding: $space-m;
    }
  }

  &__title-container {
    h2 {
      margin-bottom: $space-m;
    }

    p {
      line-height: 1.6;
      opacity: 0.8;
    }
  }

  &__box-holder {
    max-width: 800px;
    display: grid;
    margin-top: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: $space-m;
    color: $white;

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 992px) {
      margin-top: 200px;
      color: $primaryColor;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      margin-top: 200px;
    }
    .box {
      h3 {
        margin-bottom: $space-s;
      }
    }
  }

  &__right {
    place-self: left;
    height: 100%;

    /* ==== MEDIA QUERIES ==== */
    @media screen and (max-width: 992px) {
      position: absolute;
      height: 35%;
      top: 0;
      width: 100%;
    }

    @media screen and (max-width: 600px) {
      height: 30%;
    }

    #darker {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 900px;
      background: #000;
      opacity: 0.6;
      z-index: 2;
      border-radius: $default;

      /* ==== MEDIA QUERIES ==== */
      @media screen and (max-width: 992px) {
        opacity: 0.5;
        border-radius: 0;
      }
    }

    video {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 900px;
      object-fit: cover;
      border-radius: $default;

      /* ==== MEDIA QUERIES ==== */
      @media screen and (max-width: 992px) {
        border-radius: 0;
        position: relative;
      }
    }
  }
}
</style>
