<template>
  <main>

    <!--===== HEADER =====-->
    <section class="head">
      <div id="darker"></div>
      <img src="~/assets/images/events_album/stock_office1.jpg" alt />
      <div class="head__container head-grid">
        <div class="head__left">
          <h4 class="head__sub-title">Szolgáltatásaink</h4>
          <h2 class="head__title">Vedd igénybe a szolgáltatásainkat</h2>
          <p class="head__text">
            A Hallgatói önkormányzat tagjai tárt karokkal várnak minden betérő
            hallgatót. Az irodánkban nyitvatartási időben szívesen állunk
            rendelkezésetekre.
          </p>
          <Button class="head__button" @click="scrollToServices" type="cta"
            >Az irodai szolgáltatásokhoz</Button
          >
        </div>
        <div>
          <div class="head__right"></div>
        </div>
      </div>
    </section>

    <!--===== FACEBOOK EVENTS =====-->
    <section class="events">
      <img
        class="events__bg"
        src="~/assets/svg/SVG2.svg"
        data-aos="zoom-out-up"
        data-aos-offset="350"
        data-aos-delay="300"
        alt
      />
      <div class="events__container events-grid">
        <div class="events__left">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPTETTKHOK%2F&tabs=timeline&width=500&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          ></iframe>
        </div>
        <div class="events__left-mobil">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPTETTKHOK%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          ></iframe>
        </div>
        <div class="events__right">
          <h4 class="events__sub-title">AKTUALITÁSOK</h4>
          <h2 class="events__title">Légy naprakész</h2>
          <h4 class="events__text top-text">
            Az egyetemmel kapcsolatos friss információkért érdemes követni a
            facebook oldalunkat, hiszen számos tanulmányi ügyekkel,
            rendezvényekkel, pályázati lehetőségekkel kapcsolatos aktuális
            tartalmat teszünk közzé.
          </h4>
          <h4 class="events__text">
            Amennyiben Te is részese szeretnél lenni a hallgatói életnek és nem
            akarsz lemaradni a fontos aktualitásokról, akkor mindenképp kövess
            minkent a közösségi média felületeinken. Az egyetem rengeteg élményt
            tartogat a hallgatók számára és mi igyekszünk minden nagyszerű
            lehetőséget megosztani veletek. Szoros kapcsolatban állunk az
            egyetem vezetésével, így gyakran teszünk közzé tőlük származó
            felhívásokat, tantervmódosításokat, vizsgázással kapcsolatos
            tudnivalókat, pályázati lehetőségeket, amikről fontos, hogy
            mihamarabb értesüljetek. Célunk, hogy könnyebbé tegyük az egyetemi
            hétköznapjaitokat, naprakésszé tegyünk benneteket minden újdonsággal
            kapcsolatban és továbbítsuk felétek a vezetőségtől érkező
            információkat.
          </h4>
        </div>
      </div>
    </section>

    <!--===== TEXT1 =====-->
    <section id="services" class="text">
      <div data-aos="fade-up" class="text__container bg-grid">
        <h2 class="text__title">Irodai szolgáltatásaink</h2>
        <h4 class="text__content">
          Az irodai szolgáltatásainkkal segítséget nyújtunk a hallgatóknak.
          Kedvezményes árú nyomtatást, scannelést és spirálozást vehetnek
          igénybe nálunk.
        </h4>
      </div>
    </section>

    <!--===== SERVICES =====-->
    <section class="services-cards">
      <div class="services-cards__container cards-grid">
        <div
          class="card"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-delay="200"
        >
          <div class="card__img-holder">
            <img src="~/assets/images/print.jpg" alt />
          </div>
          <div class="card__content-holder">
            <h3 class="card__title">Nyomtatás</h3>
            <div class="card__price-holder">
              <div class="card__prices">
                <p class="card__print-color">Fekete-fehér</p>
                <ul>
                  <li>
                    <p class="card__print-size">A4 egy oldalas</p>
                    <p class="card__print-price">10 Ft</p>
                  </li>
                  <li>
                    <p class="card__print-size">A4 két oldalas</p>
                    <p class="card__print-price">15 Ft</p>
                  </li>
                  <li>
                    <p class="card__print-size">A3 egy oldalas</p>
                    <p class="card__print-price">20 Ft</p>
                  </li>
                  <li>
                    <p class="card__print-size">A3 két oldalas</p>
                    <p class="card__print-price">35 Ft</p>
                  </li>
                </ul>
              </div>
              <div class="card__prices">
                <p class="card__print-color">Színes</p>
                <ul>
                  <li>
                    <p class="card__print-size">A4 egy oldalas</p>
                    <p class="card__print-price">60 Ft</p>
                  </li>
                  <li>
                    <p class="card__print-size">A4 két oldalas</p>
                    <p class="card__print-price">100 Ft</p>
                  </li>
                  <li>
                    <p class="card__print-size">A3 egy oldalas</p>
                    <p class="card__print-price">150 Ft</p>
                  </li>
                  <li>
                    <p class="card__print-size">A3 két oldalas</p>
                    <p class="card__print-price">250 Ft</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div
          class="card"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-delay="300"
        >
          <div class="card__img-holder">
            <img src="~/assets/images/scan.jpg" alt />
          </div>
          <div class="card__content-holder">
            <h3 class="card__title">Scannelés</h3>
            <div class="card__price-holder">
              <div class="card__prices">
                <ul>
                  <li>
                    <p class="card__print-size">0-20 oldal:</p>
                    <p class="card__print-price">Ingyenes</p>
                  </li>
                  <li>
                    <p class="card__print-size">21-100 oldal</p>
                    <p class="card__print-price">250 Ft</p>
                  </li>
                </ul>
              </div>
              <div class="card__prices">
                <ul>
                  <li>
                    <p class="card__print-size">101-200 oldal</p>
                    <p class="card__print-price">350 Ft</p>
                  </li>
                  <li>
                    <p class="card__print-size">201 feletti</p>
                    <p class="card__print-price">450 Ft</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-delay="400"
        >
          <div class="card__img-holder">
            <img src="~/assets/images/spiral.jpg" alt />
          </div>
          <div class="card__content-holder">
            <h3 class="card__title">Spirálozás</h3>
            <div class="card__price-holder">
              <div class="card__prices">
                <ul>
                  <li>
                    <p class="card__print-size">0-20 oldal:</p>
                    <p class="card__print-price">170 Ft</p>
                  </li>
                  <li>
                    <p class="card__print-size">21-100 oldal</p>
                    <p class="card__print-price">250 Ft</p>
                  </li>
                </ul>
              </div>
              <div class="card__prices">
                <ul>
                  <li>
                    <p class="card__print-size">101-200 oldal</p>
                    <p class="card__print-price">350 Ft</p>
                  </li>
                  <li>
                    <p class="card__print-size">201 feletti</p>
                    <p class="card__print-price">450 Ft</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>
<script>
import Button from "~/components/buttons/Button";
export default {
  data() {
    return {};
  },
  methods: {
    scrollToServices() {
      var elmnt = document.getElementById("services");
      elmnt.scrollIntoView({
        behavior: "smooth",
      });
    },
  },
};
</script>
<style lang="scss" scoped>
main {
  padding-top: 80px;

  @media screen and (max-width: 1024px) {
    padding-top: 60px;
  }
}
/* ==== GRIDS ==== */

.head-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 2fr 1fr;
  padding: $space-xl-head $space-l;

  @media screen and (max-width: 992px) {
    padding: $space-xl $space-l;
  }

  @media screen and (max-width: 700px) {
    padding: $space-xl $space-m;
    grid-template-columns: 1fr;
    img {
      display: none;
    }
  }
}

.cards-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0 15px;
  }
}

.events-grid {
  max-width: 1166px;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 4fr 5fr;
  padding: $space-xl-head $space-l;
  grid-gap: $space-xl;

  @media screen and (max-width: 992px) {
    padding: $space-xl-head $space-m 0 $space-m;
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;

    img {
      display: none;
    }
  }
}

/* ==== TEXT1 ==== */
.text {
  margin-top: $space-l;

  &__container {
    max-width: 1166px;
    margin: 0 auto;
    padding: 0 $space-l;
    @media screen and (max-width: 992px) {
      padding: 0 $space-m;
    }

    @media screen and (max-width: 600px) {
      padding: 0 $space-m;
    }
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__content {
    opacity: 0.6;
    line-height: 1.6;
    font-weight: 400;
  }
}

/* ==== SERVICES HEAD ==== */

.head {
  position: relative;
  background: $bg-gray;
  height: 500px;

  #darker {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent
      linear-gradient(40deg, #000000 0%, #00000000 100%, #545454cc 100%) 0% 0%
      no-repeat padding-box;
    z-index: 2;
  }

  &__container {
    position: relative;
    z-index: 5;
    color: $white;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    object-position: 10% 25%;
  }

  &__sub-title {
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__text {
    margin-bottom: $space-xl;
    max-width: 580px;
    opacity: 0.8;
    line-height: 1.6;
  }

  &__right {
    justify-self: right;
  }
}

/* ==== EVENTS ==== */

.events {
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__right {
    line-height: 1.6;
  }

  .top-text {
    margin-bottom: $space-l;
  }

  &__text {
    opacity: 0.6;
    line-height: 1.6;
    font-weight: 400;

    @media screen and (max-width: 700px) {
      margin-bottom: $space-l;
    }
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__left {
    width: 100%;
    height: 100%;

    iframe {
      width: 500px;
      height: 600px;
    }

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  &__left-mobil {
    iframe {
      width: 300px;
      height: 400px;
    }

    @media screen and (min-width: 700px) {
      display: none;
    }
  }
}

/* ==== SERVICES OFFICE ==== */
.office {
  position: relative;
  background: $white;

  img {
    width: 300px;
    height: auto;
    object-fit: cover;
    z-index: 1;
    object-position: top;
  }

  &__sub-title {
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: $space-m;
  }

  &__text {
    margin-bottom: $space-xl;
    max-width: 580px;
    opacity: 0.8;
  }
}

/* ==== SERVICES CARDS CONTAINER ==== */
.services-cards {
  position: relative;

  &__container {
    max-width: 1166px;
    margin: 80px auto;
    padding: 0 $space-l;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: $space-xl;
    grid-column-gap: $space-xl;
    justify-content: center;

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 50px;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 $space-m;

      img {
        height: 200px;
      }
    }
  }
}

/* ==== SERVICES CARD ==== */
.card {
  position: relative;
  display: flex;
  flex-flow: column;
  box-shadow: 10px 43px 68px #00000012;
  border-radius: $default;
  background: $white;

  &__img-holder {
    height: 200px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      image-orientation: center;
      border-radius: $default $default 0 0;
    }
  }

  &__content-holder {
    padding: $space-s;
  }

  &__title {
    text-align: center;
    padding: $space-m 0;
    text-transform: uppercase;
  }

  &__price-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  &__prices {
    text-align: center;
    font-size: $paragraph_small;
  }

  &__print-color {
    font-family: "MontserratBold";
    padding: $space-xxs 0;
    font-weight: bold;
  }

  &__print-size {
    padding: $space-xxxs 0;
    opacity: 0.6;
  }

  &__print-price {
    padding: $space-xxxs 0;
  }
}
</style>
